<template>
    <div>
        <h1>Presensi Siswa</h1>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        name: 'Absen',
        data() {
            return {
                
            }
        },
        methods: {
            
        },
        computed: {
             
        }
    }
</script>

<style scoped>
</style>
