<template>
    <v-app class="dash-page" dark>
        <v-app-bar
              elevate-on-scroll
              style="position: fixed"
              v-show="isAuth"
              color="#42b38f"
              dark
              fixed
                dense
              class="d-print-none"
            >
              <v-btn icon>
                <img :src="'img/logo_'+user.sekolah_id+'.png'" alt="Logo" height="40px">
              </v-btn>

              <v-toolbar-title>{{ $route.meta.title }}</v-toolbar-title>

              <v-spacer></v-spacer>
              <v-btn icon>
                <v-badge
                    overlap
                    :content="notifs"
                    >
                    <v-icon>mdi-bell</v-icon>
                </v-badge>
                </v-btn>
              <v-btn icon>
                <v-icon>mdi-magnify</v-icon>
              </v-btn>

              <v-app-bar-nav-icon
                @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        </v-app-bar>
        <v-content>
          <v-sheet class="sheet"
              style="padding-top:50px;
              min-heignt:100vh;"
          >
            <v-container style="min-height:100vh">
              <transition name="slide">
                <router-view></router-view>
              </transition>
            </v-container>
          </v-sheet>
        </v-content>
        <v-navigation-drawer
          src="img/sidebar.jpg"
          v-model="drawer"
          class="side-bar d-print-none"
          light
          overflow
          right
          v-if="isAuth"
          clipped
          app
          fixed
          dense
        >
          <v-list-item dense>
            <v-list-item-avatar>
              <v-img :src="foto"></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title>{{ user.name }}</v-list-item-title>
            </v-list-item-content>
            <v-spacer></v-spacer>
            <v-btn @click.stop="drawer = !drawer" icon >
                <v-icon color="red">mdi-close</v-icon>
            </v-btn>
          </v-list-item>

          <v-divider></v-divider>

          <v-list >

            <v-list-item
              dense
              v-for="item in menus"
              :key="item.title"
              link
              :to="{ name: item.url }"
              exact
              :class="item.url == $route.name ? 'active' : ''"
            >
                  <v-list-item-icon>
                    <v-icon>{{ item.icon }}</v-icon>
                  </v-list-item-icon>

                  <v-list-item-content>
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                  </v-list-item-content>
            </v-list-item>
            <v-list-item color="#d66969" dark @click.stop="logout" class="btn-logout" style="position:absolute;">

              <v-list-item-content>
                <v-list-item-title>KELUAR</v-list-item-title>
              </v-list-item-content>
              <v-spacer></v-spacer>
              <v-list-item-icon>
                <v-icon>mdi-logout</v-icon>
              </v-list-item-icon>
            </v-list-item>
          </v-list>
        </v-navigation-drawer>
        <v-dialog
              v-model="loader"
              hide-overlay
              persistent
              width="300"
            >
              <v-card
                color="primary"
                dark
              >
                <v-card-text>
                  Tunggu ya, masih proses ...
                  <v-progress-linear
                    indeterminate
                    color="white"
                    class="mb-0"
                  ></v-progress-linear>
                </v-card-text>
                <v-card-actions>
                  <v-btn @click.stop="offLoader">TUtup </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
    </v-app>
</template>
<script>
    import {mapGetters} from 'vuex'
    export default {
        data () {
            return {
                drawer: null,
                items: [
                    {title: 'Home', icon: 'mdi-home', url: 'home', level: '*'},
                    {title: 'Pengguna', icon: 'mdi-account-circle', url: 'users', level: ['superadmin', 'admin']},
                    {title: 'Sekolah', icon: 'mdi-office-building', url: 'sekolah', level: 'superadmin'},
                    {title: 'Siswa', icon: 'mdi-human-child', url: 'siswas', level: ['admin']},
                    {title: 'Rombel', icon: 'mdi-google-classroom', url: 'rombels', level: ['admin']},
                    {title: 'Mapel', icon: 'mdi-book-multiple', url: 'mapels', level: ['admin']},
                    {title: 'Jadwal', icon: 'mdi-calendar', url: 'jadwals', level: ['admin']},
                    {title: 'Logabsen', icon: 'mdi-format-list-checks', url: 'logabsens', level: ['admin']},
                    {title: 'Laporan', icon: 'mdi-file-pdf', url: 'reports', level: ['admin']},
                    {title: 'Jurnal Guru', icon: 'mdi-file-word', url: 'jurnalguru', level: ['guru']},
                    {title: 'Pengaturan', icon: 'mdi-settings', url: 'settings', level: ['superadmin']},
                    {title: 'Absen', icon: 'mdi-account-check', url: 'absen', level: ['guru']},
                ],
                dialog: true,
            }
        },
        mounted() {
          if(this.$store.getters.isLoggedIn) {
            this.setMySekolah()
            // this.cekMenu()
            this.getNotifs()
            this.getUser();
          }
        },
        methods: {
          getNotifs(){
            this.$store.dispatch('GET_MY_NOTIFS')
          },
          getUser() {
              this.$store.dispatch('SET_USER')
                  .then(res => {

                  })
                  .catch(err => {

                  })
          },
          cekMenu() {
            var menus = this.items;
            menus.forEach( menu => {
              console.log(menu.level.typeOf())
            })
          },
          setMySekolah() {
            var user = this.$store.getters.user
            this.$store.dispatch('SET_MY_SEKOLAH', user.sekolah_id)
          },
          logout() {
            this.$store.dispatch('AUTH_LOGOUT')
                .then(res => {
                  this.$router.push('/login');
                })
                .catch(err=>{
                  console.log(err);
                })
          },
          onLoader() {
            this.$store.dispatch('ON_LOADER')
          },
          offLoader() {
            this.$store.dispatch('OFF_LOADER')
          }
        },
        computed: {
          notifs() {
              return this.$store.getters.notifs.length
          },
          isAuth() {
            return this.$store.getters.isLoggedIn;
          },
          loader(){
            return this.$store.getters.loader
          },
          menus () {
            var level = this.$store.getters.user.level
            var items =  this.items
            var menus = []
            items.forEach(item => {
              if(item.level == '*' || item.level == level) {
                menus.push(item)
              } else if(Array.isArray(item.level)) {
                item.level.forEach(lvl => {
                    if (lvl == level) {
                        menus.push(item)
                    }
                })
              }
            })

            return menus
          },
          foto () {
            return "img/"+this.$store.getters.user.sekolah_id +"_"+this.$store.getters.user.nip  +".jpg"
          },
          ...mapGetters(['user']),



          // overlay() {
          //   return this.$store.getters.overlay;
          // }
        }
    }
</script>

<style scoped>
  .sheet {
   background: #008080!important;

  }
    #app > div > nav > div.v-navigation-drawer__image > div > div.v-image__image.v-image__image--cover {
        opacity: 0.5;
    }

  .btn-logout{
    background: #f336368c;
    color: white!important;
    position: absolute;
    bottom:20px;
    width:100%;
    display:flex;
    justify-content: center;
  }

  a.active {
    background-color: #42b38fb5!important;
    color:white!important;
  }
</style>
