<template>
    <div style="height: 85vh;" class="d-flex align-center justify-center">
        <div style="margin-top: -100px">
            <!-- <div class="d-flex justify-center">
                <img :src="logo" style="max-width:100px;" />
            </div> -->
            <div class="d-flex justify-center" style="margin-top:20px;">
                <div v-show="user.level=='superadmin' || user.level == 'admin'">
                    <h1 class="text-uppercase">Selamat Datang <br><small>{{ user.fullname }}</small></h1>
                    <v-btn @click.stop="sendNotif" color="primary"><v-icon>mdi-send</v-icon></v-btn>
                </div>
                <div v-show="user.level == 'ks'">
                    <cari-siswa></cari-siswa>
                </div>
                <div v-show="user.level == 'guru'">
                    <home-guru :jadwals="myJadwals"></home-guru>
                </div>
            </div>
        </div>

        <div v-show="user.level == 'admin'">

        </div>

        <v-list>
            <v-list-item
                v-for="(notif, index) in notifs"
                :key="notif.id"
                >
                {{ notif.type }}
            </v-list-item>
        </v-list>
    </div>
</template>

<script>
    import HomeGuru from '$comp/HomeGuru'
    import ModalUser from '$comp/ModalUser';
    import ModalSekolah from '$comp/ModalSekolah';
    import ModalRombel from '$comp/ModalRombel'
    import ModalSiswa from '$comp/ModalSiswa'
    import CariSiswa from '$comp/CariSiswa'
    import axios from 'axios'
    export default {
        name: 'Home',
        components: {ModalUser, ModalSekolah, ModalRombel, ModalSiswa, CariSiswa, HomeGuru},
        data () {
            return {
                userDialog: false,
                sekolahDialog: false,
                rombelDialog : false,
                siswaDialog: false,
                notifs: [],
                myJadwals: []

            }
        },
        created() {
          this.getUser();
          this.getNotifs();
          // this.setMySekolah();
            // alert('hi')
          if(this.user.level == 'guru') {
            this.getMyJadwals()
          }
        },
        methods: {
          getMyJadwals(){
            // alert(this.user.level)
            // if(this.user.level == 'guru') {
              axios.get(this.$store.getters.server + '/api/logabsens', { headers : {'Authorization' : 'Bearer ' + this.$store.getters.token}})
                    .then( res => {
                      console.log(res.data)
                      this.myJadwals = res.data.logabsens
                    })
                    .catch (err => {
                      console.log(err.response.data)
                    })
            // }
          },
          setMySekolah() {
            this.$store.dispatch('SET_MY_SEKOLAH',this.$store.getters.user.sekolah_id)
          },
            sendNotif() {
                axios.post(this.$store.getters.server + '/api/send-notif', {},{'headers': {'Authorization': 'Bearer ' + this.$store.getters.token}})
                    .then ( res => {
                        alert(res.data.msg)
                    })
                    .catch(err => {
                        console.log(err)
                    })
            },
            getUser() {
                this.$store.dispatch('SET_USER')
                    .then(res => {

                    })
                    .catch(err => {

                    })
            },
            getNotifs() {
                this.$store.dispatch('GET_MY_NOTIFS')

            }
        },
        computed: {
            user() {
                return this.$store.getters.user
            },
            logo() {
                return 'img/logo_'+this.user.sekolah_id+'.png'
            }
        }
    }
</script>
<style lang="css" scoped>
    .v-text-field--outlined > .v-input__control > .v-input__slot {
        background:pink;
    }
    .view-title {
        text-align: center;
        text-transform: uppercase;
    }
    /*.d-flex {
        display: flex;
    }

    .justify-center {
        justify-content: center;
    }

    .align-center {
        align-items: center;
    }

    .dark {
        color: #efefef;
    }*/
</style>
