<template>
  <div>
    <v-card>
        <v-data-table
          :headers="headers"
          :items="itemJadwals"
          :search="search"
        >
          <template v-slot:top>
            <v-toolbar>
              <v-toolbar-title>
                <v-icon>mdi-calendar</v-icon> Data Jadwal <br /><small>{{sekolah.nama_sekolah}}</small>
              </v-toolbar-title>
              <v-divider inset vertical class="mx-4"></v-divider>
              <v-row style="margin-top:20px">
                <v-col cols="12" md="1">
                  <v-btn @click.stop="print" color="tertiary"><v-icon>mdi-printer</v-icon></v-btn>
                </v-col>
                <v-col cols="12" md="1">
                  <v-btn @click.stop="ekspor" color="tertiary"><v-icon>mdi-file-excel</v-icon></v-btn>
                </v-col>
                <v-col cols="12" md="1">
                  <v-btn @click.stop="dlgJadwal = true" color="tertiary"><v-icon>mdi-calendar</v-icon> + </v-btn>
                </v-col>
                <v-col cols="12" md="1">
                  <v-btn @click.stop="genJadwal" color="orange" dark><v-icon>mdi-refresh</v-icon></v-btn>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field @click.stop="$refs.fileJadwal.click" label="Import Excel" v-model="fileJadwal.name" append-icon="mdi-file-excel"  clearable width="100px" />
                  <input type="file" @change="onFilePicked" ref="fileJadwal" style="display:none;"/>

                </v-col>
                <v-col cols="12" md="1">
                  <v-btn color="primary" @click.stop="impor" v-if="fileJadwal.name != ''" ><v-icon>mdi-upload</v-icon></v-btn>
                </v-col>
                <v-spacer />
                <v-col cols="12" md="3">
                  <v-text-field v-model="search" label="Cari Jadwal" append-icon="mdi-magnify"   clearable />
                </v-col>

              </v-row>
            </v-toolbar>
          </template>
          <template v-slot:item.no="props">
            {{props.item.index + 1}}
          </template>
          <template v-slot:item.opsi="{item}">
            <v-btn color="red" fab small text @click.stop="dlgHapus = {id: item.id, show: true, text: 'Yakin Menghapus Jadwal '+item.nama_mapel+'?'}"><v-icon>mdi-delete</v-icon></v-btn>
            <v-btn color="orange" fab small text @click.stop="edit(item)"><v-icon>mdi-pencil</v-icon></v-btn>

          </template>
        </v-data-table>
    </v-card>
    <v-dialog v-model="dlgJadwal" width="500">
      <v-card>
        <v-card-title>
          <v-icon>mdi-calendar</v-icon>+ {{formTitle}}
          <v-spacer/>
          <v-btn small fab color="red" dark text @click.stop="close"><v-icon>mdi-close</v-icon></v-btn>
        </v-card-title>

        <v-card-text>
          <v-row>
            <v-col cols="12" md="3">
              <v-text-field v-model="sekolah.npsn" label="NPSN Sekolah" disabled dense />
            </v-col>
            <v-col cols="12" md="7">
              <v-text-field v-model="editedItem.kode_jadwal" label="Kode Jadwal" dense disabled />
            </v-col>
            <v-col cols="12" md="4">
              <v-select :items="itemHaris" v-model="editedItem.hari" label="Hari" dense clearable />
            </v-col>
            <v-col cols="12" md="8">
              <v-select :items="itemGurus" v-model="editedItem.guru_id" item-value="val" item-text="text" label="Guru" dense clearable />
            </v-col>
            <v-col cols="12" md="4">
              <v-select :items="itemRombels" v-model="editedItem.rombel_id"  item-value="val" item-text="text" label="Rombel" dense clearable />
            </v-col>
            <v-col cols="12" md="8">
              <v-select :items="itemMapels" v-model="editedItem.mapel_id"  item-value="val" item-text="text" label="Mapel" dense clearable />
            </v-col>
            <v-col cols="6" md="3">
              <v-select :items="jamkes" label="Mulai" v-model="editedItem.jamke.mulai" dense />
            </v-col>
            <v-col cols="6" md="3">
              <v-select :items="jamkes" label="Selesai" v-model="editedItem.jamke.selesai" dense />
            </v-col>
            <v-col cols="12" md="8">
              <v-textarea v-model="editedItem.ket" label="Keterangan" auto-grow rows="1" dense ></v-textarea>
            </v-col>
            <v-col cols="12" md="4">
              <v-select :items="status" v-model="editedItem.status" label="Status" dense ></v-select>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-container>

            <div class="d-flex justify-center">
              <v-btn color="red" dark @click.stop="close">Batal</v-btn>
              <v-divider inset vertical class="mx-4"/>
              <v-btn color="primary" dark @click.stop="save">Simpan</v-btn>
            </div>
          </v-container>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="snackbar.show" :color="snackbar.color" :timeout="snackbar.timeout">{{ snackbar.text }}</v-snackbar>
    <v-dialog v-model="dlgHapus.show" width="500">
      <v-card>
        <v-container>
          <div class="d-flex justify-center">
            <h3 style="text-align:center">{{dlgHapus.text}}</h3>
          </div>
          <div class="d-flex justify-center">
            <v-btn color="green" dark @click.stop="dlgHapus = {show: false, id: ''}">Batal</v-btn>
            <v-divider inset vertical class="mx-4" />
            <v-btn color="error" @click.stop="hapus" >Lanjut</v-btn>
          </div>
        </v-container>
      </v-card>
    </v-dialog>
    <table-jadwal v-if="dlgTableJadwal" :dialog="dlgTableJadwal" :headers="headers" :items="itemJadwals"></table-jadwal>
  </div>
</template>

<script>
import axios from 'axios'
import Tanggal from '../lib/tanggal'
import TableJadwal from '$comp/TableJadwal'
export default {
  name: 'Jadwal',
  components: {TableJadwal},
  data: function() {
    return {
      jamkes:['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
      status: ['aktif', 'nonaktif'],
      dlgHapus: {show:false, text: '', id: ''},
      editedIndex: -1,
      snackbar: {
        show: false,
        text: '',
        color: '',
        timeout: 2000
      },
      itemHaris: ['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu'],
      headers: [
        {text: 'No', value: 'no'},
        {text: 'NPSN', value: 'sekolah_id'},
        {text: 'Hari', value: 'hari'},
        {text: 'Rombel', value: 'rombel.nama_rombel'},
        {text: 'Guru', value: 'guru.fullname'},
        {text: 'Mapel', value: 'mapel.nama_mapel'},
        {text: 'Jamke', value: 'jamke'},
        {text: 'Ket', value: 'ket'},
        {text: 'Status', value: 'status'},
        {text: 'Opsi', value: 'opsi'},
      ],
      itemJadwals: [],
      sekolah: {},
      fileJadwal: {
        name: '',
        file: null
      },
      dlgJadwal: false,
      search: '',
      editedItem: {
        sekolah_id: '',
        kode_jadwal: '',
        hari: '',
        mapel_id: '',
        rombel_id: '',
        guru_id: '',
        jamke: {mulai: '', selesai: ''},
        ket: '',
        status: ''

      },
      defaultItem: {
        sekolah_id: '',
        kode_jadwal: '',
        hari: '',
        mapel_id: '',
        rombel_id: '',
        guru_id: '',
        jamke: {mulai: '', selesai: ''},
        ket: '',
        status: ''
      },
      itemRombels: [],
      itemGurus: [],
      itemMapels: [],
      dlgTableJadwal : false
    }
  },
  created(){
    this.setMySekolah()
    this.initialize()
    this.getRombels()
    this.getGurus()
    this.getMapels()
  },
  methods: {
    genJadwal() {
      this.dlgTableJadwal = true 
    },
    getGurus () {
      axios.get(this.$store.getters.server + '/api/users/select', {headers: { 'Authorization' : 'Bearer ' + this.$store.getters.token }})
          .then( res => {
            var datas = []
            res.data.gurus.forEach( item => {
              datas.push({ text: item.fullname, val: item.nip })
            })

            this.itemGurus = datas
          })
          .catch( err => {
            console.log( err )
          })
    },
    getMapels() {
      this.$store.dispatch('ON_LOADER')
      axios.get(
        this.$store.getters.server + '/api/mapels',
        {headers : {
          'Authorization': 'Bearer ' + this.$store.getters.token
        }}
      ).then(res => {
        var datas = res.data.mapels
        var items = []
        if (datas !== undefined)
        datas.forEach((item, index) => {
          items.push({text: item.nama_mapel, val: item.kode_mapel})
        })
        this.itemMapels = items
        this.$store.dispatch('OFF_LOADER')
      }).catch(err => {
        // console.log(err)
        this.$store.dispatch('OFF_LOADER')
        this.snackbar = {show: true, color: 'error', text: err, timeout: 3000}
      })
    },
    getRombels() {
      axios.get(this.$store.getters.server + '/api/rombels', {headers: {'Authorization': 'Bearer ' + this.$store.getters.token}})
            .then ( res => {
              var datas = res.data.rombels
              var rombels = []
              datas.forEach((item, index) => {
                rombels.push({text: item.nama_rombel, val: item.kode_rombel})
              })
              this.itemRombels = rombels
            })
            .catch ( err => {
              console.log( err )
            })
    },
    onFilePicked(e){
      const files = e.target.files
      if ( files[0] !== undefined ) {
        this.fileJadwal.name = files[0].name
        if ( this.fileJadwal.name.includes('.') <= 0 ){
          this.snackbar = {show:true, text: 'Pilih file excel, csv atau ods', color: 'error', timeout: 2000}
          this.fileJadwal = Object.assign(this.fileJadwal, {})
          return false
        } else {
          var fileName = this.fileJadwal.name.split('.')
          var ext = fileName[fileName.length-1]
          var patt = /(xls|xlsx|csv|ods)/g
          if ( !patt.test(ext) ) {
            this.snackbar = {show:true, text: 'Pilih file excel, csv atau ods', color: 'error', timeout: 2000}
            this.fileJadwal = Object.assign(this.fileJadwal, {})
            return false
          }
        }

        const fr = new FileReader()
        fr.readAsDataURL(files[0])
        fr.addEventListener('load', () => {
          this.fileJadwal.Url = fr.result
          this.fileJadwal.file = files[0]
        })
      } else {
        this.fileJadwal = Object.assign(this.fileJadwal, {})
      }
    },
    impor () {
      var file = this.fileJadwal.file
      var formData = new FormData()
      formData.append('file', file)
      this.$store.dispatch('ON_LOADER')
      axios.post(
        this.$store.getters.server + '/api/import/jadwal',
        formData,
        {headers : {
          'Content-Type': 'multipart/form-data',
          'Authorization': 'Bearer ' + this.$store.getters.token
        }}
      ).then (res => {
        this.$store.dispatch('OFF_LOADER')
        this.snackbar = {show: true, color: 'success', text: res.msg, timeout: 3000}
        this.initialize()
      }).catch (err => {
        this.$store.dispatch('OFF_LOADER')
        this.snackbar = {show: true, color: 'error', text: err.response.data.msg, timeout: 3000}
      })
    },
    print () {
      var datas = this.itemJadwals
      var header = `
            <header>
              <h3>Data Jadwal ${this.sekolah.nama_sekolah}</h3>
            </header>
          `
      var rows = ''
      datas.forEach(item => {
        rows += `<tr>
          <td>${item.index+1}</td><td>${item.sekolah_id}</td><td>${item.kode_mapel}</td><td>${item.nama_mapel}</td>
        </tr>`
      })
      var table = `<table>
        <thead>
          <tr><th>No</th><th>NPSN</th><th>Kode Jadwal</th><th>Nama Jadwal</th></tr>
        </thead>
        <tbody>${rows}</tbody>
      </table>`
      var html = `<!doctype html>
        <html>
          <head>
            <title>Data Jadwal ${this.sekolah.nama_sekolah}</title>
            <style>
              header h3 {text-align:center}
              table, tr, th, td {border:1px solid black; border-collapse:collapse;}
              .no-margin {margin:0;}
            </style>
          </head>
          <body>
            ${header}
            ${table}
            <div style="position:relative;top:20px;right:20px;margin-left: 60%;text-align:center;">
              <p class="no-margin">${this.sekolah.kab}, ${Tanggal.tanggalIni}</p>
              <p class="no-margin">Kepala Sekolah</p>
              <br />
              <br />
              <br />
              <p class="no-margin"><b><u>${this.sekolah.kepsek.fullname}</u></b></p>
              <p class="no-margin">NIP. ${this.sekolah.kepsek_id}</p>
            </div>
          </body>
        </html>
      `

      let win = window.open('','','width=600, height=700','')
      win.document.write(html)
      setTimeout(()=>{
        win.print()
        win.close()
      }, 500)
    },
    save () {
      let method = (this.editedIndex == -1) ? 'create' : 'update'
      let id = (this.editedIndex == -1) ? '' : this.editedItem.id
      var jadwal = {
        sekolah_id : this.sekolah.npsn,
        hari: this.editedItem.hari,
        guru_id: this.editedItem.guru_id,
        mapel_id: this.editedItem.mapel_id,
        rombel_id: this.editedItem.rombel_id,
        jamke: (this.editedItem.jamke.mulai == this.editedItem.jamke.selesai) ? this.editedItem.jamke.mulai : this.editedItem.jamke.mulai+'-'+this.editedItem.jamke.selesai,
        ket: this.editedItem.ket,
        status: this.editedItem.status
      }
      if (method == 'create') {
        this.$store.dispatch('ON_LOADER')
        axios.post(this.$store.getters.server + '/api/jadwal', jadwal, { headers : {'Authorization' : 'Bearer ' + this.$store.getters.token}})
            .then( res => {
              this.$store.dispatch('OFF_LOADER')
              this.snackbar = { show : true, text: res.data.msg, color: 'success', timeout: 3000}
              this.editedItem = Object.assign({}, this.defaultItem)
              this.initialize()
            })
            .catch( err => {
              this.$store.dispatch('OFF_LOADER')
              this.snackbar = { show : true, text: err.response.data.msg, color: 'error', timeout: 3000}
            })
      } else {
        axios.put(this.$store.getters.server + '/api/jadwal/'+ this.editedItem.id, jadwal, { headers : {'Authorization' : 'Bearer ' + this.$store.getters.token}})
            .then( res => {
              this.$store.dispatch('OFF_LOADER')
              this.snackbar = { show : true, text: res.data.msg, color: 'success', timeout: 3000}
              // this.editedItem = Object.assign({}, this.defaultItem)
              this.initialize()
            })
            .catch( err => {
              this.$store.dispatch('OFF_LOADER')
              this.snackbar = { show : true, text: err.response.data.msg, color: 'error', timeout: 3000}
            })
      }
    },
    ekspor () {
      axios({
        method: 'get',
        url: this.$store.getters.server + '/api/mapels/export',
        responseType: 'blob',
        headers: {
          'Authorization': 'Bearer ' + this.$store.getters.token,
          'content-type' : 'application/vnd.ms-excel;charset=UTF-8'
        }
      })
      .then(res => {
        var blob = res.data
        const a = document.createElement('a')
        var filename = 'Data-Jadwal.xlsx'
        document.body.appendChild(a)
        a.href = window.URL.createObjectURL(blob)
        a.download = filename
        a.target = '_blank'
        a.click().remove()
        this.snackbar = { show: true, color: 'success', text: 'File Jadwal diunduh', timeout:2000 }
      })
      .catch( err => {
        this.snackbar = { show: true, color: 'error', text: err.response.data.msg, timeout:2000 }
      })
    },
    edit (item) {
      // console.log(item)
      this.editedIndex = this.itemJadwals.indexOf(item)
     // var mulai='',selesai='';
      var jamke = item.jamke.split('-')
      var jadwal = {index: item.index, id: item.id, hari: item.hari, mapel_id: item.mapel_id, rombel_id: item.rombel_id, sekolah_id:item.sekolah_id, guru_id: item.guru_id, ket: item.ket, status: item.status, guru: item.gurus, rombel: item.rombels, mapel: item.mapels, jamke: {mulai: jamke[0], selesai: jamke[1]}, kode_jadwal: item.kode_jadwal}
      this.editedItem = Object.assign({}, jadwal)
      this.dlgJadwal = true
    },
    hapus () {
      const id = this.dlgHapus.id
      this.$store.dispatch('ON_LOADER')
      axios.delete(this.$store.getters.server + '/api/jadwal/'+id, { headers: {'Authorization' : 'Bearer ' + this.$store.getters.token}})
          .then( res => {
            this.snackbar = {show: true, text: res.data.msg, color: 'success', timeout: 3000}
            this.dlghapus = { show: false, id: ''}
            this.$store.dispatch('OFF_LOADER')
            this.initialize()
          })
          .catch( err => {
            this.$store.dispatch('OFF_LOADER')
            this.initalize()
          })
    },
    close(){
     this.editedItem = Object.assign({}, this.defaultItem) 
     // this.editedItem.jammke.mulai = ''
      this.dlgJadwal = false
      this.editedIndex = -1
    },
    setMySekolah() {
      axios.get(this.$store.getters.server + '/api/my-sekolah', {headers: {'Authorization': 'Bearer ' + this.$store.getters.token}})
            .then(res=> {
              this.sekolah = res.data.sekolah
            })
            .catch( err => {
              console.log(err)
            })
    },
    initialize() {
      this.$store.dispatch('ON_LOADER')
      axios.get(
        this.$store.getters.server + '/api/jadwals',
        {headers : {
          'Authorization': 'Bearer ' + this.$store.getters.token
        }}
      ).then(res => {
        var datas = res.data.jadwals
        var items = []
        if (datas !== undefined)
        datas.forEach((item, index) => {
          items.push({index: index, id: item.id, hari: item.hari, mapel_id: item.mapel_id, rombel_id: item.rombel_id, sekolah_id:item.sekolah_id, guru_id: item.guru_id, ket: item.ket, status: item.status, guru: item.gurus, rombel: item.rombels, mapel: item.mapels, jamke: item.jamke, kode_jadwal: item.kode_jadwal})
        })
        this.itemJadwals = items
        this.$store.dispatch('OFF_LOADER')
      }).catch(err => {
        // console.log(err)
        this.$store.dispatch('OFF_LOADER')
        this.snackbar = {show: true, color: 'error', text: err.response.data.msg, timeout: 3000}
      })
    },
  },

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Buat' : 'Edit'
    },
    kode_jadwal () {
      this.editedItem.kode_jadwal = this.editedItem.hari + this.editedItem.guru_id + this.editedItem.rombel_id + this.editedItem.mapel_id
    }
  }
}
</script>

<style lang="css" scoped>
</style>
