<template>
	<div class="login-view">
		<v-spacer></v-spacer>
		<div class="d-flex justify-center" >
			<v-img src="img/logo.png" max-width="100" />
		</div>
		<v-content class="my-5">
			<h3 class="text-center title" style="color:white">SELAMAT DATANG</h3>
		</v-content>

		<v-form>
			<v-text-field
				v-model="email"
				label="Username"
				:rules="[rules.required]"
				append-icon="mdi-account"
				outlined
				rounded
				dark
			>
			</v-text-field>
			<v-text-field
				v-model="password"
				:append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
				:rules="[rules.required, rules.min]"
				:type="show1 ? 'text' : 'password'"
				name="input-10-1"
				label="Password"
				outlined
				rounded
				dark
				@click:append="show1 = !show1"
				></v-text-field>
			<div class="d-flex justify-center">
				<v-btn
					style="background:teal;color: #efefef"
					rounded
					width="100%"
					x-large
					@click.stop="login()"
				>
					<v-icon>mdi-login</v-icon>
					Login
			</v-btn>
			</div>
		</v-form>
		<v-snackbar
			v-model="errLogin"
			:timeout="timeout"
			color="error"
			top
			left
			vertical
			>
			{{ errMsg }}
			<v-btn color="white" text @click.stop="errLogin = false"><v-icon>mdi-close</v-icon></v-btn>
		</v-snackbar>
	</div>
</template>
<script>

	export default {
		name: 'login',
		data () {
			return {
				errLogin: false,
				show1: false,
				email: '',
				password: '',
				rules: {
				required: value => !!value || 'Required.',
				min: v => v.length >= 5 || 'Min 5 characters'
				},
				errMsg : null,
				absolute: true,
				opacity: 1,
				overlay: false,
				errNet: false,
				timeout: 10000
			}

		},
		methods: {
				login(){
					var user = {email: this.email, password: this.password};
					this.$store.dispatch('AUTH_LOGIN', user)
						.then(res => {
							if (res == 'sukses') {
								this.$router.push('/');
							}
						})
						.catch(err => {
							this.errLogin = true;
							this.errMsg = (err == 'Error: Request failed with status code 401') ? 'Login Gagal. Periksa kembali email dan password' : err;
						})
				}
			}
	}
</script>
<style>
	h3.title {
		margin: 20px auto;
	}
	.text-center{
		text-align:center;
	}
	.d-flex{
		display: flex;
	}
	.justify-center {
		justify-content: center;
	}
	.login-view{
		height: auto;
		background: gray;
	}
	.login-view::before {
		position: absolute;
		top: -10px;
		right: -10px;
		bottom: -10px;
		left:-10px;
		background: linear-gradient(0deg, rgba(118,33,131,1) 0%, rgba(85,86,164,1) 57%, rgba(47,159,162,1) 100%);
		background-size: cover;
		
		content: '';
	}
</style>