<template>
  <div>
    <v-card>
        <v-data-table
          :headers="headers"
          :items="itemMapels"
          :search="search"
        >
          <template v-slot:top>
            <v-toolbar>
              <v-toolbar-title>
                <v-icon>mdi-book-multiple</v-icon> Data Mapel <br /><small>{{sekolah.nama_sekolah}}</small>
              </v-toolbar-title>
              <v-divider inset vertical class="mx-4"></v-divider>
              <v-row style="margin-top:20px">
                <v-col cols="12" md="1">
                  <v-btn @click.stop="print" color="tertiary"><v-icon>mdi-printer</v-icon></v-btn>
                </v-col>
                <v-col cols="12" md="1">
                  <v-btn @click.stop="ekspor" color="tertiary"><v-icon>mdi-file-excel</v-icon></v-btn>
                </v-col>
                <v-col cols="12" md="1">
                  <v-btn @click.stop="dlgMapel = true" color="tertiary"><v-icon>mdi-book-plus-multiple</v-icon></v-btn>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field @click.stop="$refs.fileMapel.click" label="Import Excel" v-model="fileMapel.name" append-icon="mdi-file-excel"  clearable width="100px" />
                  <input type="file" @change="onFilePicked" ref="fileMapel" style="display:none;"/>

                </v-col>
                <v-col cols="12" md="1">
                  <v-btn color="primary" @click.stop="impor" v-if="fileMapel.name != ''" ><v-icon>mdi-upload</v-icon></v-btn>
                </v-col>
                <v-spacer />
                <v-col cols="12" md="4">
                  <v-text-field v-model="search" label="Cari Mapel" append-icon="mdi-magnify"   clearable />
                </v-col>

              </v-row>
            </v-toolbar>
          </template>
          <template v-slot:item.no="props">
            {{props.item.index + 1}}
          </template>
          <template v-slot:item.opsi="{item}">
            <v-btn color="red" fab small text @click.stop="dlgHapus = {id: item.id, show: true, text: 'Yakin Menghapus Mapel '+item.nama_mapel+'?'}"><v-icon>mdi-delete</v-icon></v-btn>
            <v-btn color="orange" fab small text @click.stop="edit(item)"><v-icon>mdi-pencil</v-icon></v-btn>

          </template>
        </v-data-table>
    </v-card>
    <v-dialog v-model="dlgMapel" width="500">
      <v-card>
        <v-card-title><v-icon>mdi-book-plus</v-icon> {{formTitle}}</v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="12" md="4">
              <v-text-field v-model="sekolah.npsn" label="NPSN Sekolah" disabled dense />
            </v-col>
            <v-col cols="12" md="8">
              <v-text-field v-model="editedItem.kode_mapel" label="Kode Mapel" dense />
            </v-col>
            <v-col cols="12" md="12">
              <v-text-field v-model="editedItem.nama_mapel" label="Nama Mapel" dense />
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-container>

            <div class="d-flex justify-center">
              <v-btn color="red" dark @click.stop="close">Batal</v-btn>
              <v-divider inset vertical class="mx-4"/>
              <v-btn color="primary" dark @click.stop="save">Simpan</v-btn>
            </div>
          </v-container>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="snackbar.show" :color="snackbar.color" :timeout="snackbar.timeout">{{ snackbar.text }}</v-snackbar>
    <v-dialog v-model="dlgHapus.show" width="500">
      <v-card>
        <v-container>
          <div class="d-flex justify-center">
            <h3 style="text-align:center">{{dlgHapus.text}}</h3>
          </div>
          <div class="d-flex justify-center">
            <v-btn color="green" dark @click.stop="dlgHapus = {show: false, id: ''}">Batal</v-btn>
            <v-divider inset vertical class="mx-4" />
            <v-btn color="error" @click.stop="hapus" >Lanjut</v-btn>
          </div>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import Tanggal from '../lib/tanggal'
export default {
  name: 'Mapel',
  data: function() {
    return {
      dlgHapus: {show:false, text: '', id: ''},
      editedIndex: -1,
      snackbar: {
        show: false,
        text: '',
        color: '',
        timeout: 2000
      },
      headers: [
        {text: 'No', value: 'no'},
        {text: 'Kode Mapel', value: 'kode_mapel'},
        {text: 'Nama Mapel', value: 'nama_mapel'},
        {text: 'Opsi', value: 'opsi'},
      ],
      itemMapels: [],
      sekolah: {},
      fileMapel: {
        name: '',
        file: null
      },
      dlgMapel: false,
      search: '',
      editedItem: {
        sekolah_id: '',
        kode_mapel: '',
        nama_mapel: ''
      },
      defaultItem: {
        sekolah_id: '',
        kode_mapel: '',
        nama_mapel: ''
      }
    }
  },
  created(){
    this.setMySekolah()
    this.initialize()
  },
  methods: {
    onFilePicked(e){
      const files = e.target.files
      if ( files[0] !== undefined ) {
        this.fileMapel.name = files[0].name
        if ( this.fileMapel.name.includes('.') <= 0 ){
          this.snackbar = {show:true, text: 'Pilih file excel, csv atau ods', color: 'error', timeout: 2000}
          this.fileMapel = Object.assign(this.fileMapel, {})
          return false
        } else {
          var fileName = this.fileMapel.name.split('.')
          var ext = fileName[fileName.length-1]
          var patt = /(xls|xlsx|csv|ods)/g
          if ( !patt.test(ext) ) {
            this.snackbar = {show:true, text: 'Pilih file excel, csv atau ods', color: 'error', timeout: 2000}
            this.fileMapel = Object.assign(this.fileMapel, {})
            return false
          }
        }

        const fr = new FileReader()
        fr.readAsDataURL(files[0])
        fr.addEventListener('load', () => {
          this.fileMapel.Url = fr.result
          this.fileMapel.file = files[0]
        })
      } else {
        this.fileMapel = Object.assign(this.fileMapel, {})
      }
    },
    impor () {
      var file = this.fileMapel.file
      var formData = new FormData()
      formData.append('file', file)
      this.$store.dispatch('ON_LOADER')
      axios.post(
        this.$store.getters.server + '/api/import/mapel',
        formData,
        {headers : {
          'Content-Type': 'multipart/form-data',
          'Authorization': 'Bearer ' + this.$store.getters.token
        }}
      ).then (res => {
        this.$store.dispatch('OFF_LOADER')
        this.snackbar = {show: true, color: 'success', text: 'Data mapel selesai diimpor', timeout: 3000}
        this.initialize()
      }).catch (err => {
        this.$store.dispatch('OFF_LOADER')
        this.snackbar = {show: true, color: 'error', text: err, timeout: 3000}
      })
    },
    print () {
      var datas = this.itemMapels
      var header = `
            <header>
              <h3>Data Mapel ${this.sekolah.nama_sekolah}</h3>
            </header>
          `
      var rows = ''
      datas.forEach(item => {
        rows += `<tr>
          <td>${item.index+1}</td><td>${item.sekolah_id}</td><td>${item.kode_mapel}</td><td>${item.nama_mapel}</td>
        </tr>`
      })
      var table = `<table>
        <thead>
          <tr><th>No</th><th>NPSN</th><th>Kode Mapel</th><th>Nama Mapel</th></tr>
        </thead>
        <tbody>${rows}</tbody>
      </table>`
      var html = `<!doctype html>
        <html>
          <head>
            <title>Data Mapel ${this.sekolah.nama_sekolah}</title>
            <style>
              header h3 {text-align:center}
              table, tr, th, td {border:1px solid black; border-collapse:collapse;}
              .no-margin {margin:0;}
            </style>
          </head>
          <body>
            ${header}
            ${table}
            <div style="position:relative;top:20px;right:20px;margin-left: 60%;text-align:center;">
              <p class="no-margin">${this.sekolah.kab}, ${Tanggal.tanggalIni}</p>
              <p class="no-margin">Kepala Sekolah</p>
              <br />
              <br />
              <br />
              <p class="no-margin"><b><u>${this.sekolah.kepsek.fullname}</u></b></p>
              <p class="no-margin">NIP. ${this.sekolah.kepsek_id}</p>
            </div>
          </body>
        </html>
      `

      let win = window.open('','','width=600, height=700','')
      win.document.write(html)
      setTimeout(()=>{
        win.print()
        win.close()
      }, 500)
    },
    save () {
      let method = (this.editedIndex == -1) ? 'create' : 'update'
      let id = (this.editedIndex == -1) ? '' : this.editedItem.id
      var mapel = {
        sekolah_id : this.sekolah.npsn,
        kode_mapel : this.editedItem.kode_mapel,
        nama_mapel : this.editedItem.nama_mapel
      }
      if (method == 'create') {
        this.$store.dispatch('ON_LOADER')
        axios.post(this.$store.getters.server + '/api/mapel', mapel, { headers : {'Authorization' : 'Bearer ' + this.$store.getters.token}})
            .then( res => {
              this.$store.dispatch('OFF_LOADER')
              this.snackbar = { show : true, text: res.data.msg, color: 'success', timeout: 3000}
              this.editedItem = Object.assign({}, this.defaultItem)
              this.initialize()
            })
            .catch( err => {
              this.$store.dispatch('OFF_LOADER')
              this.snackbar = { show : true, text: err.response.data.msg, color: 'error', timeout: 3000}
            })
      } else {
        axios.put(this.$store.getters.server + '/api/mapel/'+ this.editedItem.id, mapel, { headers : {'Authorization' : 'Bearer ' + this.$store.getters.token}})
            .then( res => {
              this.$store.dispatch('OFF_LOADER')
              this.snackbar = { show : true, text: res.data.msg, color: 'success', timeout: 3000}
              // this.editedItem = Object.assign({}, this.defaultItem)
              this.initialize()
            })
            .catch( err => {
              this.$store.dispatch('OFF_LOADER')
              this.snackbar = { show : true, text: err.response.data.msg, color: 'error', timeout: 3000}
            })
      }
    },
    ekspor () {
      axios({
        method: 'get',
        url: this.$store.getters.server + '/api/mapels/export',
        responseType: 'blob',
        headers: {
          'Authorization': 'Bearer ' + this.$store.getters.token,
          'content-type' : 'application/vnd.ms-excel;charset=UTF-8'
        }
      })
      .then(res => {
        var blob = res.data
        const a = document.createElement('a')
        var filename = 'Data-Mapel.xlsx'
        document.body.appendChild(a)
        a.href = window.URL.createObjectURL(blob)
        a.download = filename
        a.target = '_blank'
        a.click().remove()
        this.snackbar = { show: true, color: 'success', text: 'File Mapel diunduh', timeout:2000 }
      })
      .catch( err => {
        this.snackbar = { show: true, color: 'error', text: err.response.data.msg, timeout:2000 }
      })
    },
    edit (item) {
      this.editedIndex = this.itemMapels.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dlgMapel = true
    },
    hapus () {
      const id = this.dlgHapus.id
      this.$store.dispatch('ON_LOADER')
      axios.delete(this.$store.getters.server + '/api/mapel/'+id, { headers: {'Authorization' : 'Bearer ' + this.$store.getters.token}})
          .then( res => {
            this.snackbar = {show: true, text: res.data.msg, color: 'success', timeout: 3000}
            this.dlghapus = { show: false, id: ''}
            this.$store.dispatch('OFF_LOADER')
            this.initialize()
          })
          .catch( err => {
            this.$store.dispatch('OFF_LOADER')
            this.initalize()
          })
    },
    close(){
      this.editedItem = Object.assign({}, this.defaultItem)
      this.dlgMapel = false
      this.editedIndex = -1
    },
    setMySekolah() {
      axios.get(this.$store.getters.server + '/api/my-sekolah', {headers: {'Authorization': 'Bearer ' + this.$store.getters.token}})
            .then(res=> {
              this.sekolah = res.data.sekolah
            })
            .catch( err => {
              console.log(err)
            })
    },
    initialize() {
      this.$store.dispatch('ON_LOADER')
      axios.get(
        this.$store.getters.server + '/api/mapels',
        {headers : {
          'Authorization': 'Bearer ' + this.$store.getters.token
        }}
      ).then(res => {
        var datas = res.data.mapels
        var items = []
        if (datas !== undefined)
        datas.forEach((item, index) => {
          items.push({index: index, id: item.id, kode_mapel: item.kode_mapel, nama_mapel: item.nama_mapel, sekolah_id:item.sekolah_id})
        })
        this.itemMapels = items
        this.$store.dispatch('OFF_LOADER')
      }).catch(err => {
        // console.log(err)
        this.$store.dispatch('OFF_LOADER')
        this.snackbar = {show: true, color: 'error', text: err, timeout: 3000}
      })
    },
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Buat' : 'Edit'
    },
  }
}
</script>

<style lang="css" scoped>
</style>
