<template>
    <div class="sheet">
            <h1>Halaman Tidak ditemukan</h1>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <h1>Halo</h1>
    </div>
</template>

<script>
    export default {
        name: 'NotFound'
    }
</script>

<style scoped>
    .sheet {
        position: absolute;
        width: 100vw;
        top: 0;
        left:0;
        bottom:0;
        left: 0;
        background: #afb0b1;
        color: #909192;
    }
</style>
