<template>
  <div>
    <v-card>
       <v-data-table
         :headers="headers"
         :items="items"
         :search="search"
         >
        <template v-slot:top>
          <v-toolbar>
            <v-toolbar-title><v-icon>mdi-google-classroom</v-icon> Data Rombel <br /> <small>{{ sekolah.nama_sekolah}}</small></v-toolbar-title>
            <v-divider inset vertical class="mx-4" />

              <v-row style="margin-top:20px">
                <v-col cols="12" md="1">
                  <v-btn @click.stop="print" color="tertiary"><v-icon>mdi-printer</v-icon></v-btn>
                </v-col>
                <v-col cols="12" md="1">
                  <v-btn @click.stop="ekspor" color="tertiary"><v-icon>mdi-file-excel</v-icon></v-btn>
                </v-col>
                <v-col cols="12" md="1">
                  <v-btn @click.stop="dlgRombel = true" color="tertiary"><v-icon>mdi-google-classroom</v-icon></v-btn>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field @click.stop="$refs.fileRombel.click" label="Import Excel" v-model="fileRombel.name" append-icon="mdi-file-excel"  clearable width="100px" />
                  <input type="file" @change="onFilePicked" ref="fileRombel" style="display:none;"/>

                </v-col>
                <v-col cols="12" md="1">
                  <v-btn color="primary" @click.stop="upload" v-if="fileRombel.name != ''" ><v-icon>mdi-upload</v-icon></v-btn>
                </v-col>
                <v-spacer />
                <v-col cols="12" md="4">
                  <v-text-field v-model="search" label="Cari Rombel" append-icon="mdi-magnify"   clearable />
                </v-col>

              </v-row>
          </v-toolbar>
        </template>
          <template v-slot:item.no="props">
            {{props.item.index + 1}}
          </template>
        <template v-slot:item.jml_siswa="{item}">
          {{item.siswas.length}} Orang
        </template>
        <template v-slot:item.action="{item}">
          <v-btn color="red" fab small text @click.stop="hapus(item)"><v-icon>mdi-delete</v-icon></v-btn>
          <v-btn color="orange" fab small text @click.stop="edit(item)"><v-icon>mdi-pencil</v-icon></v-btn>
          <v-btn color="primary" fab small text @click.stop="manageRombel(item)"><v-icon>mdi-google-classroom</v-icon></v-btn>
        </template>
       </v-data-table>
    </v-card>
    <v-dialog v-model="dlgRombel" width="500">
      <v-card >
        <v-card-title>Buat Data Rombel</v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="12" md="6">
              <v-text-field v-model="editedItem.kode_rombel" label="Kode Rombel" append-icon="mdi-qrcode" />
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field v-model="editedItem.nama_rombel" label="Nama Rombel"  append-icon="mdi-google-classroom" />
            </v-col>
            <v-col cols="12">
              <v-autocomplete
                v-model="editedItem.guru_id"
                :items="dataGurus"
                :search-input.sync="search"
                label="Wali Kelas"
                item-value="val"
                item-text="text"
              ></v-autocomplete>
            </v-col>
            <v-col cols="12" md="4">
              <v-text-field v-model="editedItem.tingkat" label="Tingkat" append-icon="mdi-level" />
            </v-col>
            <v-col cols="12" md="8">
              <v-text-field v-model="editedItem.status" label="Status" append-icon="mdi-info" />
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-container>
            <div class="d-flex justify-center">
              <v-btn color="error" @click.stop="close">Batal</v-btn>
              <v-btn color="primary" @click.stop="create">Simpan</v-btn>
            </div>
          </v-container>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dlgHapus.show" width="500">
      <v-card>
        <v-card-title><h3>{{dlgHapus.text}}</h3></v-card-title>
        <v-card-text>
          <v-btn color="tertiary" text @click.stop="dlgHapus.show = false">Batal</v-btn>
          <v-btn color="error" text @click.stop="doHapus">Lanjut</v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="snackbar.show" :color="snackbar.color" :timeout="snackbar.timeout">{{ snackbar.text }}</v-snackbar>
    <manajemen-rombel v-if="dlgMnjRombel" v-model="dlgMnjRombel" @tutup-modal="closeManajemen" :rombel="managedRombel" :rombels="items" @reset="getRombels"></manajemen-rombel>
  </div>
</template>

<script>
  import axios from 'axios'
  import Tanggal from '../lib/tanggal'
  import ManajemenRombel from '$comp/ManajemenRombel'
  export default {
    name: "AdminRombel",
    components: {ManajemenRombel},
    data: () => ({
      snackbar: {
        show: false,
        text: '',
        color: '',
        timeout: 2000
      },
      dlgHapus: {
        show: false,
        text: '',
        id: ''
      },
      dataGurus: [],
      dlgRombel: false,
      fileRombel: {name: '', file: null, Url: ''},
      search: '',
      headers: [
        {text: 'No', value: 'no'},
        {text: 'Kode Rombel', value: 'kode_rombel'},
        {text: 'Nama Rombel', value: 'nama_rombel'},
        {text: 'Wali Kelas', value: 'gurus.fullname'},
        {text: 'Status', value: 'status'},
        {text: 'Tingkat', value: 'tingkat'},
        {text: 'Jml Siswa', value: 'jml_siswa'},
        {text: 'Aksi', value: 'action' ,align: 'center',}
      ],
      items: [],
      editedItem: {
        sekolah_id: '',
        kode_rombel: '',
        nama_rombel: '',
        guru_id: '',
        tingkat: '',
        status: ''
      },
      defaultItem: {
        sekolah_id: '',
        kode_rombel: '',
        nama_rombel: '',
        guru_id: '',
        tingkat: '',
        status: ''
      },
      editedIndex: -1,
      dlgMnjRombel: false,
      managedRombel: {}
    }),
    created () {
      this.getRombels()
      this.getGurus()
    },
    methods: {
      closeManajemen() {
        this.dlgMnjRombel = false
      },
      manageRombel(item) {
        this.dlgMnjRombel = true
        this.managedRombel = Object.assign({}, item)
      },
      ekspor () {
        axios({
          method: 'get',
          url: this.$store.getters.server + '/api/rombels/export',
          responseType: 'blob',
          headers: {
            'Authorization': 'Bearer ' + this.$store.getters.token,
            'content-type' : 'application/vnd.ms-excel;charset=UTF-8'
          }
        })
        .then(res => {
          var blob = res.data
          const a = document.createElement('a')
          var filename = 'Data-Rombel.xlsx'
          document.body.appendChild(a)
          a.href = window.URL.createObjectURL(blob)
          a.download = filename
          a.target = '_blank'
          a.click().remove()
          this.snackbar = { show: true, color: 'success', text: 'File Rombel diunduh', timeout:2000 }
        })
        .catch( err => {
          this.snackbar = { show: true, color: 'error', text: res.data.msg, timeout:2000 }
        })
      },
      print () {
        var datas = this.items
        var kop = `
          <header>
            <h3 style="text-align:center">Data Rombel ${this.sekolah.nama_sekolah}</h3>
          </header>
        `
        var rows = ''
        datas.forEach((item, index) => {
          rows += `<tr>
            <td>${index+1}</td><td>${item.kode_rombel}</td><td>${item.nama_rombel}</td><td>${item.tingkat}</td><td>${item.siswas.length} Orang</td><td>${item.gurus.fullname}</td><td>${item.status}</td>
          </tr>`
        })
        var table = `
          <table border="1">
            <thead>
              <tr>
                <th>No</th>
                <th>Kode Rombel</th>
                <th>Nama Rombel</th>
                <th>Tingkat</th>
                <th>Jml Siswa</th>
                <th>Wali Kelas</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>${rows}</tbody>
          </table>
        `
        // var date = new Date()
        var html = `
          <!doctype html>
          <html>
            <head>
              <title>Data Rombel ${this.sekolah.nama_sekolah}</title>
              <style>
                table, tr, td {
                  border: 1px solid black;
                  border-collapse: collapse;
                }
                p.no-margin{
                  margin: 0!important
                }
              </style>
            </head>
            <body>
              ${kop} ${table}
              <div style="position:relative;top:20px;right:20px;margin-left: 60%;text-align:center;">
                <p class="no-margin">${this.sekolah.kab}, ${Tanggal.tanggalIni}</p>
                <p class="no-margin">Kepala Sekolah</p>
                <br />
                <br />
                <br />
                <p class="no-margin"><b><u>${this.sekolah.kepsek.fullname}</u></b></p>
                <p class="no-margin">NIP. ${this.sekolah.kepsek_id}</p>
              </div>
            </body>
          </html>
        `
        var win = window.open('','', 'height=600, width=800')
        win.document.write(html)
        setTimeout(function() {
          win.print()
          win.close()
        }, 500)
      },
      create () {
        axios.post(this.$store.getters.server + '/api/rombel', this.editedItem , {headers : { 'Authorization' : 'Bearer ' + this.$store.getters.token }})
            .then ( res => {
              this.snackbar = {show: true, text: res.data.msg, color: 'success', timeout: 2000}
              this.getRombels()
              this.close()
            })
            .catch( err => {
              this.snackbar = {show: true, text: res.data.msg, color: 'error', timeout: 2000}
              console.log( err )
            })
      },
      edit (item) {
        this.editedIndex = this.dataGurus.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dlgRombel = true
      },
      hapus (item) {
        this.dlgHapus.show = true
        this.dlgHapus.text = 'Yakin Menghapus data Rombel ' + item.nama_rombel
        this.dlgHapus.id = item.id
      },
      doHapus(){
        axios.delete(this.$store.getters.server + '/api/rombel/' + this.dlgHapus.id , { headers: { 'Authorization' : 'Bearer ' + this.$store.getters.token }})
            .then( res => {
              this.snackbar = {show: true, text: res.data.msg, color: 'success', timeout: 2000}
              this.dlgHapus = Object.assign({},{})
              this.getRombels()
              this.search = ''
            })
            .catch( err => {
              this.snackbar = {show: true, text: res.data.msg, color: 'error', timeout: 2000}
              console.log( err )
            })
      },
      close () {
        this.dlgRombel = false
        this.editedItem = Object.assign({}, this.defaultItem)
        this.search = ''
        this.editedIndex = -1
      },
      upload () {
        var file = this.fileRombel.file
        var fd = new FormData()
        fd.append('file', file)
        this.$store.dispatch('ON_LOADER')
        axios.post(this.$store.getters.server + '/api/import/rombels', fd, {headers: {'Authorization': 'Bearer ' + this.$store.getters.token, 'Content-Type': 'multipart/form-data'}})
            .then( res => {
              this.snackbar = {show: true, text: res.data.msg, color: 'success', timeout: 2000}
              this.getRombels()
              this.$store.dispatch('OFF_LOADER')
            })
            .catch( err => {
              this.snackbar = {show: true, text: res.data.msg, color: 'error', timeout: 2000}
              this.$store.dispatch('OFF_LOADER')
              console.log( err )
            })
      },
      getRombels () {
        axios.get(this.$store.getters.server + '/api/rombels', {headers: {'Authorization': 'Bearer ' + this.$store.getters.token}})
              .then ( res => {
                var datas = res.data.rombels
                var rombels = []
                datas.forEach((item, index) => {
                  item.index = index
                  // console.log(item)
                  rombels.push(item)
                })
                this.items = rombels
              })
              .catch ( err => {
                console.log( err )
              })
      },
      onFilePicked(e) {
        const files = e.target.files
        if ( files[0] !== undefined ) {
          this.fileRombel.name = files[0].name
          if ( this.fileRombel.name.includes('.') <= 0 ){
            this.snackbar = {show:true, text: 'Pilih file excel, csv atau ods', color: 'error', timeout: 2000}
            return false
          } else {
            var fileName = this.fileRombel.name.split('.')
            var ext = fileName[fileName.length-1]
            var patt = /(xls|xlsx|csv|ods)/g
            if ( !patt.test(ext) ) {
              this.snackbar = {show:true, text: 'Pilih file excel, csv atau ods', color: 'error', timeout: 2000}
              return false
            }
          }

          const fr = new FileReader()
          fr.readAsDataURL(files[0])
          fr.addEventListener('load', () => {
            this.fileRombel.Url = fr.result
            this.fileRombel.file = files[0]
          })
        } else {
          Object.assign(this.fileRombel, {})
        }
      },
      getGurus () {
        axios.get(this.$store.getters.server + '/api/users/select', {headers: { 'Authorization' : 'Bearer ' + this.$store.getters.token }})
            .then( res => {
              var datas = []
              res.data.gurus.forEach( item => {
                datas.push({ text: item.fullname, val: item.nip })
              })

              this.dataGurus = datas
            })
            .catch( err => {
              console.log( err )
            })
      },

    },
    computed: {
      sekolah : {
        set (value) {
          return this.$emit('input', value)
        },
        get () {
          return this.$store.getters.sekolah
        }
      }
    }
  }
</script>

<style scoped>

</style>
