<template>
    <div>
        <v-card>
            <v-data-table
              :headers="headers"
              :items="sekolahs"
              sort-by="nama_sekolah"
              class="elevation-1"
              :search="search"
            >
              <template v-slot:top>
                <v-toolbar flat color="white">
                  <v-toolbar-title><v-icon>mdi-office-building</v-icon> DATA SEKOLAH</v-toolbar-title>
                  <v-divider
                    class="mx-4"
                    inset
                    vertical
                  ></v-divider>
                  <v-text-field dense @click.stop="$refs.fileSekolah.click" label="Import Excel" v-model="fileSekolah.name" append-icon="mdi-file-excel" style="margin-top:20px;" clearable></v-text-field>
                  &nbsp;
                  <v-btn color="primary" @click.stop="upload" v-if="fileSekolah.file != null" ><v-icon>mdi-upload</v-icon></v-btn>
                  &nbsp;
                  <v-btn color="orange" dark @click.stop="dialog = true"><v-icon>mdi-plus</v-icon> Baru</v-btn>
                  &nbsp;
                  <input type="file" @change="onFilePicked" ref="fileSekolah" style="display:none;"/>
                  <v-spacer></v-spacer>
                  <v-text-field dense v-model="search" label="Cari Sekolah" style="margin-top: 20px!important;" append-icon="mdi-magnify" clearable/>
                  <v-dialog v-model="dialog" max-width="600px" max-height="900px">
                    <v-card>
                      <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                        <v-spacer />
                        <v-btn fab color="red" small dark depressed @click="close"><v-icon>mdi-close</v-icon></v-btn>
                      </v-card-title>
                      <v-card-text>
                        <v-container>
                          <v-row>
                            <v-col cols="12" sm="6" md="4">
                              <v-text-field dense v-model="editedItem.npsn" label="NPSN"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                              <v-text-field dense v-model="editedItem.kode_sekolah" label="Kode Sekolah"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                              <v-text-field dense v-model="editedItem.nama_sekolah" label="Nama Sekolah"></v-text-field>
                            </v-col>
                            <v-col cols="12" md="8">
                              <v-textarea dense auto-grow rows="1" label="Alamat" v-model="editedItem.alamat" />
                            </v-col>
                            <v-col cols="12" md="4">
                              <v-text-field dense label="Desa/Kelurahan" v-model="editedItem.desa" />
                            </v-col>
                            <v-col cols="12" md="4">
                              <v-text-field dense label="Kecamatan" v-model="editedItem.kec" />
                            </v-col>
                            <v-col cols="12" md="4">
                              <v-text-field dense label="Kabupaten/Kota" v-model="editedItem.kab" />
                            </v-col>
                            <v-col cols="12" md="4">
                              <v-text-field dense label="Provinsi" v-model="editedItem.prov" />
                            </v-col>
                            <v-col cols="12" md="4">
                              <v-text-field dense label="Kode Pos" v-model="editedItem.kode_pos" />
                            </v-col>
                            <v-col cols="12" md="4">
                              <v-text-field dense label="Lintang" v-model="editedItem.lintang" />
                            </v-col>
                            <v-col cols="12" md="4">
                              <v-text-field dense label="Bujur" v-model="editedItem.bujur" />
                            </v-col>
                            <v-col cols="12" md="5">
                              <v-text-field dense label="Email" v-model="editedItem.email" />
                            </v-col>
                            <v-col cols="12" md="5">
                              <v-text-field dense label="Website" v-model="editedItem.website" />
                            </v-col>
                            <v-col cols="12" md="2">
                              <v-text-field dense label="Jenjang" v-model="editedItem.jenjang" />
                            </v-col>
                            <v-col cols="12" md="7">
                              <v-subheader class="pl-0">Jam Pelajaran</v-subheader>
                              <v-slider
                                min="1"
                                  max="12"
                                v-model="editedItem.jml_jam"
                                thumb-label
                              >
                                <template v-slot:append>
                                  {{editedItem.jml_jam}}
                                </template>
                              </v-slider>
                            </v-col>
                            <v-col cols="12" md="2">
                              <v-switch label="GPS" v-model="editedItem.gps" />
                            </v-col>
                            <v-col cols="12" md="2">
                              <v-switch label="Finger" v-model="editedItem.finger" />
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col cols="12">
                              <div class="d-flex justify-center">
                                <v-btn color="red darken-1" dark @click="close">Cancel</v-btn>
                                <v-divider inset class="mx-4" vertical />
                                <v-btn color="blue darken-1"  dark @click="save">Save</v-btn>
                              </div>
                            </v-col>
                          </v-row>
                        </v-container>
                      </v-card-text>

                      <!-- <v-card-actions> -->

                      <!-- </v-card-actions> -->
                    </v-card>
                  </v-dialog>
                </v-toolbar>
              </template>

              <template v-slot:item.action="{ item }">
                <v-icon
                  small
                  class="mr-2"
                  color="orange"
                  @click="editItem(item)"
                >
                  mdi-pencil
                </v-icon>
                <v-icon
                  small
                  color="red"
                  @click="deleteItem(item)"
                >
                  mdi-delete
                </v-icon>
              </template>
              <template v-slot:no-data>
                <v-btn color="primary" @click="initialize">Reset</v-btn>
              </template>
            </v-data-table>
        </v-card>
        <v-snackbar v-model="snackbar.show" :color="snackbar.color" :timeout="snackbar.timeout">{{snackbar.text}}</v-snackbar>
    </div>
</template>

<script>
    import axios from 'axios'
  export default {
    data: () => ({
        fileSekolah: {
            name: '',
            Url: '',
            file: null
        },
      search: '',
      dialog: false,
      headers: [

        { text: 'NPSN', value: 'npsn'},
        { text: 'Kode Sekolah', value: 'kode_sekolah' },
        { text: 'Nama Sekolah', value: 'nama_sekolah' },
        { text: 'Alamat', value: 'alamat'},
        { text: 'Kepala Sekolah', value: 'kepsek'},
        { text: 'Actions', value: 'action', sortable: false },
      ],
      sekolahs: [],
      editedIndex: -1,
      editedItem: {
        npsn: '',
        kode_sekolah: '',
        nama_sekolah: '',
        alamat: '',
        desa: '',
        kec: '',
        kab: '',
        prov: '',
        kode_pos: '',
        email: '',
        website: '',
        gps: '',
        kepsek_id: '',
        jml_jam: 0,
        jenjang: '',
        bujur: '',
        lintang: '',
        finger: false
      },
      defaultItem: {
        npsn: '',
        kode_sekolah: '',
        nama_sekolah: '',
        alamat: '',
        desa: '',
        kec: '',
        kab: '',
        prov: '',
        kode_pos: '',
        email: '',
        website: '',
        gps: '',
        kepsek_id: '',
        jml_jam: 0,
        jenjang: '',
        bujur: '',
        lintang: '',
        finger: false
      },
      snackbar: {
        show: false,
        color: 'error',
        timeout: 3000
      }
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Sekolah Baru' : 'Edit Sekolah'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
        upload() {
            var file = this.fileSekolah.file
            let formData = new FormData();
                formData.append('file', file);
                this.$store.dispatch('ON_LOADER')
                axios.post(this.$store.getters.server + '/api/import/sekolahs', formData, {headers: {'Content-Type': 'multipart/form-data','Authorization': 'Bearer ' + this.$store.getters.token}})
                    .then( res => {
                        this.initialize()
                    })
                    .catch( err => {
                        console.log( err )
                    })
        },
        onFilePicked(e) {
            const files = e.target.files
            if ( files[0] !== undefined) {
                this.fileSekolah.name = files[0].name
                if (this.fileSekolah.name.lastIndexOf('.') <= 0 ) {
                    return
                }

                const fr = new FileReader()
                fr.readAsDataURL(files[0])
                fr.addEventListener('load', () => {
                    this.fileSekolah.Url = fr.result
                    this.fileSekolah.file = files[0]
                })
            } else {
                Object.assign(this.fileSekolah, {})
            }
        },
      initialize () {
        axios.get(this.$store.getters.server + '/api/sekolahs', {'headers' : {'Authorization' : 'Bearer ' + this.$store.getters.token}})
            .then( res => {
               // this.sekolahs = res.data.sekolah
              var datas = []
              res.data.sekolahs.forEach((item, index) => {
                var kepsek = ''
                item.users.forEach(user => {
                  if(user.level == 'ks') { kepsek = user.fullname }
                })
                datas.push({index: index, id: item.id, kode_sekolah:item.kode_sekolah, npsn: item.npsn, nama_sekolah: item.nama_sekolah, alamat: item.alamat, desa: item.desa, kec: item.kec, kab: item.kab, prov: item.prov, kode_pos: item.kode_pos, email: item.email, website: item.website, gps: item.gps, kepsek: kepsek, bujur: item.bujur, lintang: item.lintang, jenjang: item.jenjang, jml_jam: item.jml_jam});

              })
              this.sekolahs = datas
            })
            .catch( err => {
                console.log( err )
            })
      },

      editItem (item) {
        this.editedIndex = this.sekolahs.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        const index = this.users.indexOf(item)
        var hapus = confirm('Yakin menghapus data ini?');
        if (hapus) {
            axios.delete(this.$store.getters.server + '/api/sekolah/' + item.id, {'headers' : {'Authorization' : 'Bearer ' + this.$store.getters.token}})
                .then( res => {
                    this.initialize()
                })
                .catch( err => {
                    console.log(err)
                })

        }
      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.sekolahs[this.editedIndex], this.editedItem)
          axios.put(this.$store.getters.server + '/api/sekolah/'+this.editedItem.id , this.editedItem, {'headers' : {'Authorization' : 'Bearer ' + this.$store.getters.token}})
            .then( res => {
                this.snackbar = Object.assign({}, {show:true, color:'success', timeout: 3000, text: res.data.msg})
                this.initialize()
            })
            .catch( err => {
              this.snackbar = Object.assign({}, {show:true, color:'error', timeout: 3000, text: err.response.data.msg})
              this.initialize()
            })
        } else {
          this.sekolahs.push(this.editedItem)
          axios.post(this.$store.getters.server + '/api/sekolah', this.editedItem, {'headers' : {'Authorization' : 'Bearer ' + this.$store.getters.token}})
            .then( res => {
                alert(res.data.msg)
            })
            .catch( err => {
                console.log(err)
            })
        }

        this.close()
      },
    },
  }
</script>

<style scoped>

</style>
