<template>
	<v-container dark>
		<v-card
			max-height="94vh"
			v-if="level == 'superadmin'"
		>
			<v-card-title style="padding-bottom: 0!important">
				<v-icon>mdi-human-child</v-icon> Siswa
				<v-spacer></v-spacer>
				<v-btn @click="modalSiswa = true" text color="teal">Imp Siswa</v-btn>
				<v-btn @click="modalOrtu = true" text color="green">Imp Ortu</v-btn>
				<v-row>
					<div class="col-12" style="padding-bottom: 0!important">
						<v-text-field
							label="Cari"
							clearable
							rounded
							outlined
							v-model="key"
							>
						</v-text-field>
					</div>
				</v-row>
			</v-card-title>
			<v-card-text>
				<v-list
					avatar
					two-line
					dense
					style="overflow-y: auto;max-height: 65vh"
				>
					<v-list-item-group color="primary" >
						<v-list-item
							v-for="(item, i) in datas"
							:key="i"
							@click.stop="showDetail(item)"
							v-if="item.siswas"
							>
							<v-list-item-avatar>
								<v-icon>mdi-google-classroom</v-icon>
							</v-list-item-avatar>
							<v-list-item-content>
								<v-list-item-title> {{ item.nama_rombel }} <span v-if="item.sekolahs"> | {{ item.sekolahs.nama_sekolah }}</span></v-list-item-title>
								<v-list-item-subtitle >{{ item.kode_rombel }} <span v-if="item.siswas"> | {{ item.siswas.length }} Siswa</span></v-list-item-subtitle>
							</v-list-item-content>
						</v-list-item>
					</v-list-item-group>
				</v-list>
			</v-card-text>
		</v-card>

		<div v-if="level == 'admin'">
			<!-- <div class="d-flex justify-center white--text" >
				<h3>MENU SISWA</h3>
			</div>
			<div class="d-flex justify-center">
				<v-btn @click.stop="siswaDialog=true" fab depressed><v-icon>mdi-human-child</v-icon></v-btn>
			</div> -->
			<admin-siswa></admin-siswa>
			<!-- <modal-siswa v-model="siswaDialog" :rombels="results"></modal-siswa> -->
		</div>

		<v-dialog v-model="rombel">
			<v-card>
				<v-card-title style="box-shadow: 0 1px 3px rgba(0,0,0,0.6)">
					DATA SISWA
					<v-spacer></v-spacer>
					<v-btn dark color="red" @click.stop="rombel=false"><v-icon>mdi-close</v-icon></v-btn>
				</v-card-title>
				<v-card-text style="max-height:75vh; overflow-y: auto;border-top:1px solid gray">
					<v-list
						avatar
						two-line
						>
						<v-list-item-group>
							<v-list-item
								v-for="(siswa, index) in siswas"
								:key="index"
								@click.stop="detailSiswa(siswa)"
							>
								<v-list-item-avatar>
									<v-img :src='"img/siswas/"+siswa.nis+".jpg"'>
									</v-img>
								</v-list-item-avatar>
								<v-list-item-content>
									<v-list-item-title> {{ siswa.nama_siswa }}</v-list-item-title>
									<v-list-item-subtitle> {{ siswa.nis }} | {{ siswa.nisn }}</v-list-item-subtitle>
								</v-list-item-content>
							</v-list-item>
						</v-list-item-group>
					</v-list>
				</v-card-text>
			</v-card>
		</v-dialog>
		<v-dialog v-model="viewSiswa">
			<v-card v-if="siswa">
				<v-img
					:src="cImg"
					v-on:error="onImgError"
					>
					<!-- :src='"img/siswas/"+siswa.nis+".jpg"'> -->
					<v-btn @click.stop="viewSiswa=false" style="position: absolute;to:0;right:0" dark color="red"><v-icon>mdi-close</v-icon></v-btn>
				</v-img>
				<v-card-title>{{ siswa.nama_siswa }} <v-spacer></v-spacer><v-btn small color="red" dark fab @click.stop="modalFoto = true"><v-icon>mdi-camera</v-icon></v-btn></v-card-title>
				<v-card-subtitle>NIS: {{ siswa.nis }}, NISN: {{ siswa.nisn }}</v-card-subtitle>
				<v-card-text style="overflow-y: auto">
					<table>
						<tr>
							<td>Kelas</td>
							<td>: {{ siswa.rombel_id }}</td>
						</tr>
						<tr>
							<td>JK</td>
							<td>: {{ (siswa.jk == 'L') ? 'Laki-laki': 'Perempuan' }}</td>
						</tr>
						<tr>
							<td>TTL</td>
							<td>: {{ siswa.tempat_lahir }}, {{ siswa.tanggal_lahir }}</td>
						</tr>
						<tr>
							<td>Alamat</td>
							<td>: {{ siswa.alamat }}, {{ siswa.desa}}, {{ siswa.kec }} {{ siswa.kab }} {{ siswa.kode_pos }}</td>
						</tr>
						<tr>
							<td style="width:30%">No. HP</td>
							<td> : {{ siswa.hp }}</td>
						</tr>
						<tr>
							<td>Orang Tua</td>
							<td>:
								<span v-if="siswa.ortus">
								{{ siswa.ortus.ayah }}
								</span>
								<span v-else>Data Ortu Kosong <v-btn small color="red" dark><v-icon>mdi-plus</v-icon></v-btn></span>
							</td>
						</tr>

					</table>
				</v-card-text>
			</v-card>
		</v-dialog>
		<v-dialog v-model="modalFoto">
			<v-card>

					<v-card-title>
						Upload Foto Siswa
						<v-spacer></v-spacer>
						<v-btn @click.stop="modalFoto = false" color="red" dark><v-icon>mdi-close</v-icon></v-btn>
					</v-card-title>
				<v-img :src="preview" v-if="preview != null">
				</v-img>
				<v-card-text>
					<v-file-input v-model="fotoSiswa" rounded outlined label="Filih Foto Siswa" v-on:change="onPickFile"></v-file-input>
					<v-btn @click.stop="uploadFoto" color="primary"><v-icon>mdi-upload</v-icon> Upload Foto</v-btn></v-card-text>
				</v-card-text>
			</v-card>
		</v-dialog>
		<v-dialog v-model="modalOrtu">
			<v-card>
				<v-card-title>
					Import Ortu
					<v-btn @click.stop="modalOrtu = false" text><v-icon>mdi-close</v-icon></v-btn>
				</v-card-title>
				<v-card-text>
					<v-file-input
						label="Ambil File Ortu"
						rounded
						outlined
						v-model="fileOrtu"
						prepend-inner-icon="mdi-file-excel"
						prepend-icon=""
					></v-file-input>
					<v-btn @click.stop="importOrtu" color="primary">
						<v-icon>mdi-upload</v-icon>
						Upload
					</v-btn>
				</v-card-text>
			</v-card>
		</v-dialog>
	</v-container>
</template>

<script>
	import axios from 'axios'
	// import ModalSiswa from '$comp/ModalSiswa'
	import AdminSiswa from '$comp/AdminSiswa'
	export default {
		name: 'Siswa',
		components: {AdminSiswa},
		data () {
			return {
				results: null,
				key: '',
				siswas:[],
				rombel: false,
				fotoSiswa: null,
				siswa: {},
				viewSiswa: false,
				imgError: false,
				modalFoto: false,
				preview: null,
				pict: null,
				modalSiswa: false,
				modalOrtu: false,
				fileOrtu: null,
				siswaDialog: false
			}
		},
		created () {
			this.getRombels()
		},
		methods: {
			importOrtu() {
				let formData = new FormData();
				formData.append('fileOrtu', this.fileOrtu);
				this.$store.dispatch('ON_LOADER')
				axios.post(this.$store.getters.server + '/api/import/ortu', formData, {headers: {'Content-Type': 'multipart/form-data','Authorization': 'Bearer ' + this.$store.getters.token}})
					.then(res => {
						if (res.data.status == 'sukses') {
							this.$store.commit('OFF_LOADER')
							this.modalOrtu = false
						} else {
							this.$store.commit('OFF_LOADER')
							this.modalOrtu = false
						}
					})
					.catch(err => {
						this.snackbar = true
							this.$store.commit('OFF_LOADER')
							this.modalOrtu = false
					})
			},
			uploadFoto() {
				let formData = new FormData();
				formData.append('file', this.fotoSiswa);
				this.$store.dispatch('ON_LOADER')
				axios.post(this.$store.getters.server + '/api/upload/foto-siswa/'+this.siswa.nis+'/'+this.siswa.sekolah_id, formData, {headers: {'Content-Type': 'multipart/form-data','Authorization': 'Bearer ' + this.$store.getters.token}})
					.then(res => {
						if (res.data.status == 'sukses') {
							this.$store.commit('OFF_LOADER')
							this.modalFoto = false
							this.cImg = URL.createObjectURL(this.fotoSiswa)
						} else {
							this.$store.commit('OFF_LOADER')
							this.modalFoto = false
						}
					})
					.catch(err => {
						this.snackbar = true
							this.$store.commit('OFF_LOADER')
							this.modalFoto = false
					})
			},
			onPickFile() {
				this.preview = URL.createObjectURL(this.fotoSiswa)
			},

			onImgError(event) {
				// console.log(event)
				this.imgError = true
			},
			showDetail(item) {
				this.siswas = []
				item.siswas.forEach(siswa => {
					this.siswas.push(siswa)
				})
				this.rombel = true
			},
			detailSiswa(siswa){
				// this.rombel=false
				console.log(siswa)
				this.siswa = siswa
				this.viewSiswa = true
			},
			getRombels() {
				axios
					.get(this.$store.getters.server + '/api/rombels', { headers: {'Authorization': 'Bearer ' + this.$store.getters.token } })
					.then( res => {
						this.results = res.data.rombels
					})
					.catch( err => {
						console.log(err)
					})
			},

		},
		computed: {
			cImg : {
				get () {
					if ( this.imgError == false) {
							return 'img/siswas/'+ this.siswa.sekolah_id+'_'+this.siswa.nis+'.jpg'
					} else {
						if(this.siswa.jk == 'l' || this.siswa.jk == 'L') {
							return 'img/siswa-l.png';
						} else {
							return 'img/siswa-p.png';
						}
					}
				},
				set (val) {
					// this.$emit('input', val)
					return this.preview
				}
			},
			datas () {
				var items = []
				if (this.key == '' || this.key == null) {
					return this.results
				} else {
					var patt = new RegExp(this.key, "gi")
					this.results.forEach(item=>{
						if ( patt.test(item.nama_rombel) || patt.test(item.sekolahs.nama_sekolah)) {
							items.push(item)
						} else {
							item.siswas.forEach(siswa => {
								if( patt.test(siswa.nama_siswa) || patt.test(siswa.nis) || patt.test(siswa.nisn)) {
									items.push(item)
								}
							})
						}
					})
					return items
				}
			},
			level(){
				return localStorage.getItem('level')
			}
		},

	}
</script>

<style scoped>

</style>
