<template>
	<div>
		<admin-user></admin-user>
	</div>
</template>

<script>
	import AdminUser from '$comp/AdminUser'
  	export default {
  		components: {AdminUser},
		data: () => ({
		  
		}),

		computed: {
			user () {
				return this.$store.getters.user
			}
		},

		watch: {
		  
		},

		created () {
		  
		},

		methods: {
		  
		}
  }
</script>
