
<template>
    <div>
        <v-card>
            <v-data-table
              :headers="headers"
              :items="users"
              sort-by="calories"
              class="elevation-1"
              :search="search"
            >
              <template v-slot:top>
                <v-toolbar flat color="white">
                  <v-toolbar-title><v-icon>mdi-account</v-icon> DATA PENGGUNA</v-toolbar-title>
                  <v-divider
                    class="mx-4"
                    inset
                    vertical
                  ></v-divider>
                  <v-text-field @click.stop="$refs.fileUser.click" label="Import Excel" v-model="fileUser.name" append-icon="mdi-file-excel" style="margin-top:20px;" clearable></v-text-field>
                  &nbsp;
                  <v-btn color="primary" @click.stop="upload" v-if="fileUser.file != null" ><v-icon>mdi-upload</v-icon></v-btn>
                  &nbsp;
                  <v-btn color="orange" dark @click.stop="dialog = true"><v-icon>mdi-account-plus</v-icon></v-btn>
                  &nbsp;
                  <input type="file" @change="onFilePicked" ref="fileUser" style="display:none;"/>
                  <v-spacer></v-spacer>
                  <v-text-field v-model="search" label="Cari Pengguna" style="margin-top: 20px!important;" append-icon="mdi-magnify" clearable/>
                  <v-dialog v-model="dialog" max-width="500px">
                    <v-card>
                      <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                      </v-card-title>

                      <v-card-text>
                        <v-container>
                          <v-row>
                            <v-col cols="12" sm="6" md="4">
                              <v-text-field v-model="editedItem.sekolah_id" label="Sekolah"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                              <v-text-field v-model="editedItem.nip" label="NIP"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                              <v-text-field v-model="editedItem.username" label="Username"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                              <v-text-field v-model="editedItem.email" label="Email"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                              <v-text-field v-model="editedItem.fullname" label="Nama Lengkap"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                              <v-text-field v-model="editedItem.password" label="Password"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                              <v-text-field v-model="editedItem.level" label="Level"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                              <v-text-field v-model="editedItem.role" label="Role"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                              <v-text-field v-model="editedItem.hp" label="No. HP"></v-text-field>
                            </v-col>
                          </v-row>
                        </v-container>
                      </v-card-text>

                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                        <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-toolbar>
              </template>
              
              <template v-slot:item.action="{ item }">
                <v-icon
                  small
                  class="mr-2"
                  color="orange"
                  @click="editItem(item)"
                >
                  mdi-pencil
                </v-icon>
                <v-icon
                  small
                  color="red"
                  @click="deleteItem(item)"
                >
                  mdi-delete
                </v-icon>
              </template> 
              <template v-slot:no-data>
                <v-btn color="primary" @click="initialize">Reset</v-btn>
              </template>
            </v-data-table>
        </v-card>
    </div>
</template>

<script>
    import axios from 'axios'
  export default {
    data: () => ({
        fileUser: {
            name: '',
            Url: '',
            file: null
        },
      search: '',
      dialog: false,
      headers: [
        
        { text: 'Sekolah', value: 'sekolah_id'},
        { text: 'NIP', value: 'nip' },
        { text: 'Nama', value: 'fullname' },
        { text: 'Email', value: 'email' },
        { text: 'HP', value: false },
        { text: 'Actions', value: 'action', sortable: false },
      ],
      users: [],
      editedIndex: -1,
      editedItem: {
        sekolah_id: '',
        nip: '',
        username: '',
        email:'',
        password:'',
        fullname: '',
        level: '',
        role: '',
        hp: ''
      },
      defaultItem: {
        sekolah_id: '',
        nip: '',
        username: '',
        email:'',
        password:'',
        fullname: '',
        level: '',
        role: '',
        hp: ''
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
        upload() {
            var file = this.fileUser.file
            let formData = new FormData();
                formData.append('file', file);
                this.$store.dispatch('ON_LOADER')
                axios.post(this.$store.getters.server + '/api/import/users', formData, {headers: {'Content-Type': 'multipart/form-data','Authorization': 'Bearer ' + this.$store.getters.token}})
                    .then( res => {
                        this.initialize()
                    })
                    .catch( err => {
                        console.log( err )
                    })
        },
        onFilePicked(e) {
            const files = e.target.files
            if ( files[0] !== undefined) {
                this.fileUser.name = files[0].name
                if (this.fileUser.name.lastIndexOf('.') <= 0 ) {
                    return
                }
                
                const fr = new FileReader()
                fr.readAsDataURL(files[0])
                fr.addEventListener('load', () => {
                    this.fileUser.Url = fr.result
                    this.fileUser.file = files[0]
                })
            } else {
                Object.assign(this.fileUser, {})
            }
        },
      initialize () {
        axios.get(this.$store.getters.server + '/api/users', {'headers' : {'Authorization' : 'Bearer ' + this.$store.getters.token}})
            .then( res => {
                this.users = res.data.users
            })
            .catch( err => {
                console.log( err )
            })
      },

      editItem (item) {
        this.editedIndex = this.users.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        const index = this.users.indexOf(item)
        var hapus = confirm('Are you sure you want to delete this item?');
        if (hapus) {
            axios.delete(this.$store.getters.server + '/api/user/' + item.id, {'headers' : {'Authorization' : 'Bearer ' + this.$store.getters.token}})
                .then( res => {
                    this.initialize()
                })
                .catch( err => {
                    console.log(err)
                })
            
        }
      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.users[this.editedIndex], this.editedItem)
          axios.put(this.$store.getters.server + '/api/user/'+this.editedItem.id , this.editedItem, {'headers' : {'Authorization' : 'Bearer ' + this.$store.getters.token}})
            .then( res => {
                alert(res.data.msg)
            })
            .catch( err => {
                console.log(err)
            })
        } else {
          this.users.push(this.editedItem)
          axios.post(this.$store.getters.server + '/api/user', this.editedItem, {'headers' : {'Authorization' : 'Bearer ' + this.$store.getters.token}})
            .then( res => {
                alert(res.data.msg)
            })
            .catch( err => {
                console.log(err)
            })
        }
        
        this.close()
      },
    },
  }
</script>

<style scoped>

</style>
