
<template>
    <div>
        <v-card color="success" >
            <v-data-table
              :headers="headers"
              :items="siswas"
              sort-by="nisn"
              class="elevation-1  d-print-block"
              :search="search"
              id="table"
            >
              <template v-slot:top>
                <v-toolbar flat color="white">
                  <v-toolbar-title><v-icon>mdi-human-child</v-icon> DATA SISWA <br ><small>{{sekolah.nama_sekolah}}</small></v-toolbar-title>
                  <v-divider
                    class="mx-4"
                    inset
                    vertical
                  ></v-divider>
                  <v-row>
                    <v-col cols="5">
                      <v-btn @click.stop="print" dark style="margin-top:20px;"><v-icon>mdi-printer</v-icon></v-btn>
                      <v-btn @click.stop="ekspor" dark color="green" style="margin-top:20px;"><v-icon>mdi-file-excel</v-icon></v-btn>
                      <v-btn color="orange" dark @click.stop="siswaDialog = true" style="margin-top:20px;"><v-icon>mdi-account-plus</v-icon></v-btn>
                      <v-btn color="success" dark @click.stop="printNISN(siswas)" style="margin-top:20px;"><v-icon>mdi-account-card-details</v-icon></v-btn>
                    </v-col>
                    <v-col cols="3">
                      <v-text-field @click.stop="$refs.fileSiswa.click" label="Import Excel" v-model="fileSiswa.name" append-icon="mdi-file-excel" style="margin-top:20px;" clearable width="100px" />
                      <v-btn color="primary" @click.stop="upload" v-if="fileSiswa.file != null" ><v-icon>mdi-upload</v-icon></v-btn>
                      <input type="file" @change="onFilePicked" ref="fileSiswa" style="display:none;"/>
                    </v-col>
                    <!-- <v-spacer></v-spacer> -->
                    <v-col cols="3">
                      <v-text-field v-model="search" label="Cari Siswa" style="margin-top: 20px!important;" append-icon="mdi-magnify" clearable width="150px" />
                    </v-col>
                  </v-row>
                  <modal-siswa v-model="siswaDialog" :rombels="rombels" :editedItem="editedItem" :formTitle="formTitle" @modal-siswa="close"></modal-siswa>
                </v-toolbar>
              </template>
              <template v-slot:item.foto="{ item }">
                <v-avatar>
                  <img :src="'img/siswas/'+item.sekolah_id+'_'+item.nis+'.jpg'" :alt="item.nis" />
                </v-avatar>
              </template>
              <template v-slot:item.ttl="{ item }">
                {{ item.tempat_lahir }}, {{ item.tanggal_lahir }}
              </template>
              <template v-slot:item.action="{ item }">
                <v-icon
                  small
                  class="mr-2"
                  color="orange"
                  @click="editItem(item)"
                >
                  mdi-pencil
                </v-icon>
                <v-icon
                  small
                  color="red"
                  @click="deleteItem(item)"
                >
                  mdi-delete
                </v-icon>
                &nbsp;
                <v-icon
                  small
                  color="primary"
                  @click="printNISN(item)"
                >
                  mdi-account-card-details
                </v-icon>

              </template>
              <template v-slot:no-data>
                <v-btn color="primary" @click="initialize">Reset</v-btn>
              </template>
            </v-data-table>
        </v-card>
        <v-snackbar :color="snackbar.color" :timeout="snackbar.timeout" top v-model="snackbar.show">{{ snackbar.text }}</v-snackbar>
        <v-dialog v-model="dlgHapus.show" width="600">
          <v-card >
            <v-card-title><h3 style="text-align:center!important;">{{ dlgHapus.text}}</h3></v-card-title>
            <v-card-actions>
              <v-container>
                 <div class="d-flex justify-center">
                   <v-btn  dark @click.stop="dlgHapus.show = false">Batal</v-btn>
                   &nbsp;
                   <v-btn color="red" dark @click.stop="hapus">Lanjut</v-btn>
                 </div>
              </v-container>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog width="400px" v-model="dlgSelRombel">
          <v-card>
              <v-select :items="rombels" v-model="rombel_id" item-text="nama_rombel" item-value="kode_rombel" />
              <v-btn @click="jadiCetak=true"><v-icon>mdi-printer</v-icon>Cetak</v-btn>
          </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import axios from 'axios'
    import ModalSiswa from '$comp/ModalSiswa'
    import Tanggal from '@lib/tanggal'
  export default {
    components: {ModalSiswa},
    data: () => ({
      dlgHapus: {show:false, item: '', text: ''},
      sekolah: '',
      siswaDialog: false,
        fileSiswa: {
            name: '',
            Url: '',
            file: null
        },
      search: '',
      dialog: false,
      headers: [
        { text: 'Foto', value: 'foto'},
        { text: 'NIS', value: 'nis'},
        { text: 'NISN', value: 'nisn' },
        { text: 'NAMA', value: 'nama_siswa' },
        { text: 'JK', value: 'jk' },
        { text: 'TTL', value: 'ttl' },
        { text : 'Rombel', value: 'rombel_id'},
        { text: 'Actions', value: 'action', sortable: false },
      ],
      siswas: [],
      editedIndex: -1,
      editedItem: {
          sekolah_id: '',
          ortu_id: '',
          rombel_id: '',
          nis: '',
          nisn: '',
          nama_siswa: '',
          jk: '',
          agama: '',
          tempat_lahir: '',
          tanggal_lahir: '',
          alamat: '',
          desa: '',
          kec: '',
          kab: '',
          prov: '',
          kode_pos: '',
          hp: '',
          email: '',
      },
      defaultItem: {
        sekolah_id: '',
        ortu_id: '',
        rombel_id: '',
        nis: '',
        nisn: '',
        nama_siswa: '',
        jk: '',
        agama: '',
        tempat_lahir: '',
        tanggal_lahir: '',
        alamat: '',
        desa: '',
        kec: '',
        kab: '',
        prov: '',
        kode_pos: '',
        hp: '',
        email: '',
      },
      rombels: [],
      snackbar: {
        show: false,
        text: '',
        color: '',
        timeout: 2000
      },
      rombel_id: '', 
      dlgSelRombel: false,
      jadCetak: false
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Buat' : 'Edit'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
        this.initialize()
      },
    },

    created () {
      this.initialize()
      this.getRombels()
    },
    mounted () {
      this.getSekolah()
    },
    methods: {
      printNISN (item) {
        // console.log(item)
        // alert (item.length)
        var items = []
        if (item.length === undefined) {
          this.jadiCetak = true
          items.push(item)
        } else {
          this.dlgSelRombel = true

          var rombel_id = this.rombel_id
          item.forEach(siswa => {
              if(siswa.rombel_id == rombel_id) {
                 items.push(siswa)
              }
          })
        }
        var datas = items
        // console.log(items)
        var sekolah = this.sekolah
        var template = ''
        // var i = 0
        for (var i = 0; i < datas.length; i++) {
          template += `
            <div class="kartu" style="position:relative;">
              <img src="img/tutwuri-sm.png" style="width:150px;position:absolute;z-index: -1;margin-top: 10%;filter:opacity(.1); margin-left; 30%;left: 30%" />
              <table>
                <tr>
                  <td style="text-align:center; vertical-align: top;">
                    <img src="img/nisn.jpg" width="50px"/>
                    <div class="foto" style="width:75px;height:100px;border: 1px dashed black; background: #ececec url('img/siswas/${datas[i].sekolah_id}_${datas[i].nis}.jpg');background-size:cover; background-position: center center;background-repeat:no-repeat;padding: 10px; box-sizing:border-box;">
                    </div>
                  </td>
                  <td style="vertical-align:top">
                    <div class="header" style="text-align:center; border-bottom: 3px double black;">
                      ${sekolah.nama_sekolah} <br />
                      ${sekolah.alamat} ${sekolah.desa} ${sekolah.kec} <br />
                      Kode Pos: ${sekolah.kode_pos} Email: ${sekolah.email} <br /> Website: ${sekolah.website}
                    </div>
                    <div class="content" style="margin-top: 10px;">
                      <table width="100%">
                        <tr><td>NISN / NIS</td><td>:</td><td><b>${(datas[i].nisn)?datas[i].nisn:'-'}</b> / ${datas[i].nis}</td></tr>
                        <tr><td style="width:35%;">Nama</td><td>:</td><td style="width:65%">${datas[i].nama_siswa}</td></tr>
                        <tr><td>Tempat Lahir</td><td>:</td><td>${datas[i].tempat_lahir}</td></tr>
                        <tr><td>Jenis Kelamin</td><td>:</td><td>${(datas[i].jk == 'L') ? 'Laki-laki' : 'Perempuan' }</td></tr>
                      </table>

                      <div class="ttd text-center" style="position:absolute;font-size: 6pt; bottom: 15px; right: 20px;">
                        <img src="img/ttdkepsek_${sekolah.npsn}.png" style="width:75px;position:absolute; top: 15px;" />
                        <img src="img/stempel_${sekolah.npsn}.png" style="width:50px;position:absolute; top: 0; left: 0px; opacity: .6; margin-left: -20px;" />
                        ${sekolah.kab}, ${Tanggal.tanggalIni} <br />
                        Kepala Sekolah
                        <br />
                        <br />
                        <br />
                        <b><u>${sekolah.kepsek.fullname}</u></b><br />
                        NIP. ${sekolah.kepsek.nip}
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          `
        }

        var html =`
            <!doctype html>
            <html>
              <head>
                <title>Kartu NISN</title>
                <style>
                  .text-center {text-align:center;}
                  .row{display:flex; justify-content; center;}
                  .wrapper {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                  }
                  .kartu {
                    border: 2px double black;
                    width: 10cm;
                    height: 6.5cm;
                    margin: 10px;
                    padding: 10px;
                    box-sizing: border-box;
                    font-size: 10pt;
                  }
                </style>
              </head>
              <body>
                <div class="wrapper">
                  ${template}
                </div>

              </body>
            </html>`;
        if(this.jadiCetak == true) {
        	var win = window.open('','','width=1000, height=1024', '')
        	win.document.write(html)
        	setTimeout(function() {
        	win.print()
        	//win.close()
        	}, 1000)
        }

      },
      getSekolah(){
        console.log(this.$store.getters.sekolah)
        this.sekolah = this.$store.getters.sekolah
      },
      ekspor() {
        axios({method: 'get', url: this.$store.getters.server + '/api/siswa/export',responseType: 'blob', headers: {'Authorization': 'Bearer '+this.$store.getters.token, 'content-type': 'application/vnd.ms-excel;charset=UTF-8'}})

            .then(res => {
              var blob = res.data
              const a = document.createElement('a')
              var filename = 'siswa.xlsx'
              document.body.appendChild(a) // 兼容火狐，将a标签添加到body当中
              a.href = window.URL.createObjectURL(blob)
              a.download = filename
              a.target = '_blank' // a标签增加target属性
              a.click()
              a.remove()  // 移除a标签
              // window.URL.revokeObjectURL(url)
              this.snackbar.show = true
              this.snackbar.text = "File Siswa berhasil diunduh."
              this.snackbar.color = "success"
            })
            .catch(err => {
              this.snackbar.show = true
              this.snackbar.text = err
              this.snackbar.color = "error"
            })
      },
      print() {
        var data = this.siswas
        var sekolah = this.sekolah
        //console.log(this.sekolah)
        var kop = `
                  <header style="text-align:center;">
                    <h1>${sekolah.nama_sekolah}</h1>
                  </header>
                `


        var rows = ''
        data.forEach((item, index) => {
          rows += `<tr>
                    <td>${index++}</td>
                    <td>${item.nis}</td>
                    <td>${item.nisn}</td>
                    <td>${item.nama_siswa}</td>
                    <td>${item.jk}</td>
                    <td>${item.alamat}</td>
                    <td>${item.desa}</td>
                    <td>${item.kec}</td>
                    <td>${item.kab}</td>
                    <td>${item.prov}</td>
                    <td>${item.hp}</td>
                    <td>${item.email}</td>
                  </tr>`
        })
        var table = `<table border="1">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>NIS</th>
                          <th>NISN</th>
                          <th>Nama</th>
                          <th>JK</th>
                          <th>Alamat</th>
                          <th>Desa</th>
                          <th>Kec</th>
                          <th>Kab</th>
                          <th>Prov</th>
                          <th>HP</th>
                          <th>Email</th>
                        </tr>
                      </thead>
                      <tbody>
                        ${rows}
                      </tbody>
                    </table>`
        var win = window.open('', '', 'height=1000, width=700')
        win.document.write(`<html>
                              <head>
                                <title>Data Siswa</title>
                                <style>
                                  table, tr, th, td {
                                    border: 1px solid black;
                                    border-collapse:collapse;
                                  }
                                </style>
                              </head>
                              <body>
                                ${kop}
                                ${table}
                              </body>
                            </html>`)
        setTimeout(function(){
          win.print()
          win.close()
        },500)
      },
        upload() {
            var file = this.fileSiswa.file
            let formData = new FormData();
                formData.append('file', file);
                this.$store.dispatch('ON_LOADER')
                axios.post(this.$store.getters.server + '/api/siswa/import', formData, {headers: {'Content-Type': 'multipart/form-data','Authorization': 'Bearer ' + this.$store.getters.token}})
                    .then( res => {
                        this.initialize()
                    })
                    .catch( err => {
                        console.log( err )
                    })
        },
        onFilePicked(e) {
            const files = e.target.files
            if ( files[0] !== undefined) {
                this.fileSiswa.name = files[0].name
                if (this.fileSiswa.name.lastIndexOf('.') <= 0 ) {
                    return
                }

                const fr = new FileReader()
                fr.readAsDataURL(files[0])
                fr.addEventListener('load', () => {
                    this.fileSiswa.Url = fr.result
                    this.fileSiswa.file = files[0]
                })
            } else {
                this.fielSiswa = Object.assign(this.fileSiswa, {})
            }
        },
      initialize () {
        axios.get(this.$store.getters.server + '/api/siswas', {'headers' : {'Authorization' : 'Bearer ' + this.$store.getters.token}})
            .then( res => {
                this.siswas = res.data.siswas
            })
            .catch( err => {
                console.log( err )
            })
      },

      editItem (item) {
        // console.log(item)
        this.editedIndex = this.siswas.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.siswaDialog = true
      },
      deleteItem (item) {
        this.dlgHapus.show = true
        this.dlgHapus.item = item.id
        this.dlgHapus.text = 'Yakin Mengapus data Siswa '+item.nama_siswa+'?'
      },
      hapus () {
       // const index = this.siswas.indexOf(item)
        //var hapus = confirm('Are you sure you want to delete this item?' + item.nis);
        //if (hapus) {
        var id = this.dlgHapus.item
            axios.delete(this.$store.getters.server + '/api/siswa/' + id, {'headers' : {'Authorization' : 'Bearer ' + this.$store.getters.token}})
                .then( res => {
                  this.dlgHapus.show = false
                    this.initialize()
                })
                .catch( err => {
                    console.log(err)
                })

        //}
      },

      close () {
        this.siswaDialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.users[this.editedIndex], this.editedItem)
          axios.put(this.$store.getters.server + '/api/user/'+this.editedItem.id , this.editedItem, {'headers' : {'Authorization' : 'Bearer ' + this.$store.getters.token}})
            .then( res => {
                alert(res.data.msg)
            })
            .catch( err => {
                console.log(err)
            })
        } else {
          this.users.push(this.editedItem)
          axios.post(this.$store.getters.server + '/api/user', this.editedItem, {'headers' : {'Authorization' : 'Bearer ' + this.$store.getters.token}})
            .then( res => {
                alert(res.data.msg)
            })
            .catch( err => {
                console.log(err)
            })
        }

        this.close()
      },
      getRombels() {
				axios
					.get(this.$store.getters.server + '/api/rombels', { headers: {'Authorization': 'Bearer ' + this.$store.getters.token } })
					.then( res => {
						this.rombels = res.data.rombels
					})
					.catch( err => {
						console.log(err)
					})
			},
    },
  }
</script>

<style scoped>
  @media print {
    body {
      visibility:hidden;
    }

    #print, #print * {
      visibility: visible;
    }


  }
</style>
