<template>
    <div>
        <h1 class="text-center white--text">
            <v-icon color="white" large>mdi-account-search</v-icon><br>CARI SISWA
        </h1>
        <v-text-field
            v-model="nama_siswa"
            label="Nama / NIS / NISN Siswa"
            required
            rounded
            outlined
            dark
            clearable
            @keypress="cekRes"
            ></v-text-field>
        <div class="d-flex justify-center">
            <v-btn @click.stop="findSiswa">CARI</v-btn>
        </div>
        <br>
        <v-alert v-if="noresults.status == true"  class="d-flex justify-center error" dark>
            {{ noresults.text }}
        </v-alert>
        <v-expand-transition v-if="nama_siswa && results.length > 0" class="d-flex justify-center">
            <v-card width="95%" style="overflow-y: auto; max-height:55vh">
                <v-list
                    avatar
                    two-line
                    dense
                >
                    <v-subheader>DITEMUKAN {{ results.length }} SISWA</v-subheader>
                    <v-list-item-group color="primary" >
                        <v-list-item
                            v-for="(item, i) in results"
                            :key="i"
                            @click.stop="showDetail(item)"
                            v-if="item.rombels"
                            >
                            <v-list-item-avatar>
                                <v-img :src='"img/siswas/"+item.nis+".jpg"'></v-img>
                            </v-list-item-avatar>
                            <v-list-item-content>
                                <v-list-item-title v-html="item.nama_siswa"></v-list-item-title>
                                <v-list-item-subtitle >{{ item.nis }} | {{ item.rombels.nama_rombel }}</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list-item-group>
                </v-list>
            </v-card>
        </v-expand-transition>
        <v-dialog
            v-if="detail.rombels"
            v-model="dialog"
            >
            <v-card>
                <v-img
                    :src='"img/siswas/"+detail.nis+".jpg"'
                    max-height="200px" contain>
                    <v-btn @click.stop="dialog=false" style="position: absolute;to:0;right:0" dark color="red"><v-icon>mdi-close</v-icon></v-btn>
                </v-img>
                <v-card-title class="text-centrer">{{ detail.nama_siswa }}</v-card-title>
                <v-card-subtitle class="text-centrer">NIS: {{ detail.nis }}, NISN: {{ detail.nisn }}</v-card-subtitle>
                <v-card-text style="overflow-y: auto">
                    <v-tabs centered grow show-arrows icons-and-text>
                        <v-tab>Biodata <v-icon>mdi-account-card-details</v-icon></v-tab>
                        <v-tab>Detail <v-icon>mdi-account-details</v-icon></v-tab>
                        <v-tab>Ortu <v-icon>mdi-human-male-female</v-icon></v-tab>
                        <v-tab>Cat. BK<v-icon color="red">mdi-comment-alert</v-icon></v-tab>
                        <v-tab-item>
                            <v-card flat>
                                <v-card-text>
                                    <table>
                                        <tr>
                                            <td>Kelas</td>
                                            <td>:</td>
                                            <td>{{ detail.rombels.nama_rombel }}</td>
                                        </tr>
                                        <tr>
                                            <td>JK</td>
                                            <td>:</td>
                                            <td>{{ (detail.jk == 'L') ? 'Laki-laki': 'Perempuan' }}</td>
                                        </tr>
                                        <tr>
                                            <td>TTL</td>
                                            <td>:</td>
                                            <td>{{ detail.tempat_lahir }}, {{ detail.tanggal_lahir }}</td>
                                        </tr>
                                        <tr>
                                            <td>Alamat</td>
                                            <td>:</td>
                                            <td>{{ detail.alamat }}, {{ detail.desa}}, {{ detail.kec }} {{ detail.kab }} {{ detail.kode_pos }}</td>
                                        </tr>
                                        <tr>
                                            <td>No. HP:</td>
                                            <td>:</td>
                                            <td>{{ detail.hp }}</td>
                                        </tr>
                                        <tr>
                                            <td>Orang Tua:</td>
                                            <td>:</td>
                                            <td>
                                                <span v-if="detail.ortus">
                                                {{ detail.ortus.ayah }}
                                                </span>
                                                <span v-else>Data Ortu Kosong</span>
                                            </td>
                                        </tr>

                                    </table>
                                </v-card-text>
                            </v-card>
                        </v-tab-item>
                        <v-tab-item>
                            <v-card flat>
                                <v-card-text>
                                    Detail
                                </v-card-text>
                            </v-card>
                        </v-tab-item>
                        <v-tab-item>
                            <v-card flat>
                                <v-card-text>
                                    Ortu
                                </v-card-text>
                            </v-card>
                        </v-tab-item>
                        <v-tab-item>
                            <v-card flat>
                                <v-card-text>
                                    Catatan BK
                                </v-card-text>
                            </v-card>
                        </v-tab-item>

                    </v-tabs>

                </v-card-text>
                <!-- Halo -->
            </v-card>
        </v-dialog>
    </div>
</template>
<script>
    import axios from 'axios'
    export default {
        name: 'CariSiswa',
        data () {
            return {
                results: [],
                nama_siswa: '',
                dialog: false,
                detail: {},
                noresults: {
                    status: '',
                    text: ''
                }
            }
        },
        create() {

        },
        methods: {
            findSiswa () {
                this.$store.dispatch('ON_LOADER')
                axios
                    .get(this.$store.getters.server + '/api/siswa/cari?q='+this.nama_siswa, {headers: {'Authorization': 'Bearer '+this.$store.getters.token}})
                    .then(res => {
                        if(res.data.data.length > 0 ) {
                            this.results = res.data.data
                            this.noresults.status = false
                        } else {
                            this.noresults.status = true,
                            this.noresults.text = "Data Tidak Ditemukan"
                        }
                        this.$store.dispatch('OFF_LOADER')
                    })
                    .catch(err=>{
                        console.log(err)
                        this.$store.dispatch('OFF_LOADER')
                    })
            },
            showDetail(siswa) {
                this.dialog = true
                this.detail = siswa
            },
            cekRes () {
                this.results = []
            }
        },
        computed: {

        }
    }
</script>

<style scoped>
    .page {
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        background: gray;
    }
</style>
