<template>
  <div>
    <v-dialog v-model="modal" fullscreen hide-overlay transition="dialog-bottom-transition"  fixed>
      <v-card >
        <v-toolbar dense style="position:fixed; top:0;width:100%;z-index:10;">
          <v-toolbar-title><v-icon>mdi-google-classroom</v-icon> {{ thisRombel.nama_rombel}} <small> {{ thisRombel.gurus.fullname}}</small></v-toolbar-title>
          <v-divider vertical inset class="mx-4" />
          <v-toolbar-title>Jumlah Siswa: {{ thisRombel.siswas.length}} Orang</v-toolbar-title>
          <v-spacer />
          <v-btn color="red" dark @click.stop="modal=false"><v-icon>mdi-close</v-icon></v-btn>
        </v-toolbar>
        <v-card-text class="pt-10">
          <v-row>
            <v-col cols="12" md="6">
              <v-data-table
                :headers="member.Headers"
                :items="member.Items"
                :search="member.Search"
                v-model="member.selected"
                item-key="id"
                show-select
              >
                <template v-slot:top>
                  <v-row >
                    <v-col cols="12" md="3">
                      <v-autocomplete
                        :items="itemRombels"
                        v-model="thisRombel.kode_rombel"
                        label="Rombel"
                        item-value="val"
                        item-text="text"
                        dense
                      />
                    </v-col>
                    <v-col  md="2">
                      <v-btn color="orange" dark small @click.stop="pindahkan"><v-icon>mdi-transfer</v-icon> Pindah</v-btn>
                    </v-col>
                    <v-col  md="3">
                      <v-btn color="red" dark small @click.stop="keluarkan"><v-icon>mdi-account-multiple-remove</v-icon> Keluarkan</v-btn>
                    </v-col>
                    <v-col  md="4">
                      <v-text-field v-model="member.Search" label="Cari Anggota" clearable append-icon="mdi-magnify" dense />
                    </v-col>
                  </v-row>
                </template>
              </v-data-table>
            </v-col>

            <v-col cols="12" md="6">
              <v-data-table
                :headers="nonmember.Headers"
                :items="nonmember.Items"
                :search="nonmember.Search"
                v-model="nonmember.selected"
                item-key="id"
                show-select
              >
                <template v-slot:top>
                  <v-row>
                    <v-col md="4">
                      <v-btn dark color="primary" small @click.stop="masukkan"><v-icon>mdi-account-multiple-plus</v-icon> Masukkan ke {{ thisRombel.nama_rombel }}</v-btn>
                    </v-col>
                    <v-spacer />
                    <v-col  md="4">
                      <v-text-field v-model="nonmember.Search" label="Cari Siswa" clearable append-icon="mdi-magnify" dense />
                    </v-col>
                  </v-row>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="snackbar.show" :color="snackbar.color" :timeout="snackbar.timeout">{{snackbar.text}}</v-snackbar>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'ManajemenRombel',
  props: {value:Boolean, rombel:Object, rombels: Array},
  data: function() {
    return {
      member: {
        Headers:[
          { text: 'NIS', value: 'nis'},
          { text: 'Nama', value: 'nama_siswa'},
        ],
        Items: [],
        Search: '',
        selected:[]
      },
      nonmember: {
        Headers: [
          { text: 'NIS', value: 'nis'},
          { text: 'Nama', value: 'nama_siswa'},
        ],
        Items: [],
        Search: '',
        selected:[],

      },
      snackbar: {
        show:false,
        text: '',
        timeout: 2000,
        color: ''
      },
      rombelAsal: ''
    }
  },
  created() {
    this.getNonMembers()
    this.setRombelAsal()

  },
  mounted(){
    this.getMembers()
  },
  methods: {
    setRombelAsal() {
      this.rombelAsal = this.rombel.kode_rombel
    },
    pindahkan () {
      if ( this.member.selected.length <= 0 ){
        this.snackbar = { show: true, color: 'error', text: 'Pilih siswa yang akan dipindahkan'}
        return false
      } else if (this.thisRombel.kode_rombel == this.rombelAsal) {
        this.snackbar = { show: true, color: 'error', text: 'Rombel tujuan tidak boleh sama dengan Rombel asal'}
        return false
      } else {
        var datas = JSON.stringify(this.member.selected)
        var fd = new FormData()
        fd.append('siswas', datas)
        this.$store.dispatch('ON_LOADER')
        axios.post(this.$store.getters.server + '/api/siswas/masukkan?_method=PUT&rombel_id='+this.thisRombel.kode_rombel, fd, { headers: {'Authorization': 'Bearer ' + this.$store.getters.token}})
            .then( res => {
              this.getNonMembers()
              this.getMembers()
              this.$store.dispatch('OFF_LOADER')
              this.setRombelAsal()
            })
            .catch(err=>{
              console.log(err)
            })
      }
    },
    masukkan() {
      if (this.nonmember.selected.length <=0) {
        this.snackbar = { show: true, color: 'error', text: 'Pilih siswa yang akan dimasukkan ke rombel'}
        return false
      } else {
        var datas = JSON.stringify(this.nonmember.selected)
        var fd = new FormData()
        fd.append('siswas', datas)
        this.$store.dispatch('ON_LOADER')
        axios.post(this.$store.getters.server + '/api/siswas/masukkan?_method=PUT&rombel_id=' + this.rombel.kode_rombel, fd, { headers: {'Authorization': 'Bearer ' + this.$store.getters.token}})
            .then( res => {
              this.$store.dispatch('OFF_LOADER')
              this.thisRombel = 'reset'
              this.getNonMembers()
              this.getMembers()
            })
            .catch( err => {
              console.log(err)
            })
      }
    },
    keluarkan() {
      if (this.member.selected.length <=0) {
        this.snackbar = { show: true, color: 'error', text: 'Pilih siswa yang akan dimasukkan ke rombel'}
        return false
      } else {
        var datas = JSON.stringify(this.member.selected)
        var fd = new FormData()
        fd.append('siswas', datas)
        this.$store.dispatch('ON_LOADER')
        axios.post(this.$store.getters.server + '/api/siswas/keluarkan?_method=PUT', fd, { headers: {'Authorization': 'Bearer ' + this.$store.getters.token}})
            .then( res => {
              this.getNonMembers()
              this.getMembers()
              this.$store.dispatch('OFF_LOADER')
            })
            .catch(err=>{
              console.log(err)
            })
      }
    },
    getMembers() {
      axios.get(this.$store.getters.server + '/api/member/' + this.thisRombel.kode_rombel, {headers: {'Authorization':'Bearer ' + this.$store.getters.token}})
          .then ( res => {

            this.member.Items = res.data.members
          })
          .catch( err => {
            console.log( err )
          })
    },
    getNonMembers() {
      axios.get(this.$store.getters.server + '/api/nonmember', {headers: {'Authorization':'Bearer ' + this.$store.getters.token}})
          .then ( res => {

            this.nonmember.Items = res.data.nonmembers
          })
          .catch( err => {
            console.log( err )
          })
    }
  },
  computed: {
    modal: {
      get () {
        return this.value
      },
      set (value) {
        // console.log(value)
        this.$emit('tutup-modal', value)
      }
    },
    thisRombel : {
      get () {
        return this.rombel
      },
      set (item) {
        this.$emit('reset', item)
      }
    },
    itemRombels() {
      var datas = this.rombels
      var items = []
      datas.forEach(item => {
        items.push({text: item.nama_rombel, val: item.kode_rombel})
      })

      return items
    }
  }
}
</script>

<style lang="css" scoped>
</style>
