<template>
  <v-row justify="center">
    <v-dialog v-model="modal" persistent max-width="98vw">
      <v-card>
        <v-card-title>
          <span class="headline"><v-icon>mdi-human-child</v-icon> <span id="form-title">{{formTitle}}</span> Data Siswa</span>
    			<v-spacer></v-spacer>
    			<v-btn text color="red" @click.stop="modal=false" fab class="float-right"><v-icon>mdi-close</v-icon></v-btn>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-alert v-model="alert.show" :color="alert.color"  :timeout="alert.timeout" dismissible colored-border border="left" dark transition="scale-transition">
              {{ alert.text }}
            </v-alert>
          <v-row>
            <v-col cols="12" xs="12" sm="8" md="8">
              <v-row>
                <v-col cols="12" sm="6" md="4" v-if="user.level == 'superadmin'">
                  <v-text-field
          					label="Sekolah"
          					required
                    disabled
                    dense
          					v-model="itemEdited.sekolah_id"
          					width="100%"
          					></v-text-field>
                </v-col>
                <v-col cols="12" sm="4" md="2">
          				<v-autocomplete
          					v-model="itemEdited.rombel_id"
          					:items="dataRombels"
          					:search-input.sync="search"
          					label="Rombel/Kelas"
                    dense
          					item-value="val"
          					item-text="text"
          				></v-autocomplete>
                </v-col>
                <v-col cols="12" sm="4" md="2">
          				<v-text-field
          					label="NIS"
          					v-model="itemEdited.nis"
          					required
                    dense
          					width="100%"></v-text-field>
                </v-col>
                <v-col cols="12" sm="4" md="2">
          				<v-text-field
          					label="NISN"
          					v-model="itemEdited.nisn"
          					required
          					width="100%"
                    dense
                    ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
          				<v-text-field
          					label="Nama"
          					v-model="itemEdited.nama_siswa"
          					required


          					width="100%"
                    dense
                    ></v-text-field>
                </v-col>
                <v-col cols="12" sm="4" md="2">
          				<v-select
          					label="Jenis Kelamin"
          					v-model="itemEdited.jk"
          					required
                    item-value="val"
                    item-text="text"
          					width="100%"
          					:items="jks"
                    dense
          				>
          				</v-select>
                </v-col>
                <v-col cols="12" sm="4" md="3">
          				<v-text-field
          					label="Tempat Lahir"
          					v-model="itemEdited.tempat_lahir"
          					required


                    dense
          					width="100%"></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="2">
          				<v-menu
          					v-model="fromDateMenu"
          					:close-on-content-click="false"
          					>
          					<template v-slot:activator="{ on }">
          						<v-text-field
          							label="Tanggal Lahir"
          							:value="fromDateDisp"
          							v-on="on"

                        v-model="itemEdited.tanggal_lahir"
                        dense
          							></v-text-field>
          					</template>
          					<v-date-picker
          						v-model="itemEdited.tanggal_lahir"
          						no-title
          						@input="fromDateMenu = false"
          						></v-date-picker>
          				</v-menu>
                </v-col>
                <v-col cols="12" sm="6" md="4">
          				<v-textarea
          					v-model="itemEdited.alamat"
          					auto-grow
          					label="Alamat"
                    rows="1"

          					required
                    dense
          				></v-textarea>
                </v-col>
                <v-col cols="12" sm="4" md="3">
          				<v-text-field
          					label="Desa / Kelurahan"
          					v-model="itemEdited.desa"


                    dense
          					required></v-text-field>
                </v-col>
                <v-col cols="12" sm="4" md="3">
          				<v-text-field
          					label="Kecamatan"
          					v-model="itemEdited.kec"
          					required

                    dense
          					></v-text-field>
                </v-col>
                <v-col cols="12" sm="4" md="3">
          				<v-text-field
          					label="kab. / Kota"
          					v-model="itemEdited.kab"
          					required

                    dense
          					></v-text-field>
                </v-col>
                <v-col cols="12" sm="4" md="3">
          				<v-text-field
          					label="Propinsi"
          					v-model="itemEdited.prov"
          					required

                    dense
          					></v-text-field>
                </v-col>
                <v-col cols="12" sm="2" md="2">
          				<v-text-field
          					label="Kode Pos"
          					v-model="itemEdited.kode_pos"
          					required

                    dense
          					></v-text-field>
                </v-col>
                <v-col cols="12" sm="4" md="3">
          				<v-text-field
          					label="No. HP"
          					v-model="itemEdited.hp"
          					required

                    dense
          					></v-text-field>
                </v-col>
                <v-col cols="12" sm="4" md="3">
          				<v-text-field
          					label="Email"
          					v-model="itemEdited.email"
          					required

                    dense
          					></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" xs="12" sm="3" md="3" offset-md="1">
              <v-row>
                <v-col cols="12" sm="12" md="12">
          				<div class="d-flex justify-center" v-if="preImg">
          						<v-img :src="preImg" v-if="preImg" height="100" contain />
          				</div>
                </v-col>
                <v-col cols="12" sm="12" md="12">
          				<v-file-input
          					label="Foto"
                    dense


          					v-model="siswa.foto"
          					width="100%"
          					append-icon="mdi-camera"
          					prepend-icon=""
          					@change="onPickedFoto"
          				></v-file-input>
                </v-col>
                <v-col cols="12">
                  <v-btn @click.stop="uploadFoto">Upload</v-btn>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
    				<div class="d-flex justify-center">
    					<v-btn color="red darken-1" dark  x-large @click.stop="modal = false">Batal <v-icon>mdi-close</v-icon></v-btn>
    					<v-btn color="teal darken-1" dark x-large  @click.stop="createSiswa">Simpan <v-icon>mdi-content-save</v-icon></v-btn>
    				</div>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>

  </v-row>
</template>

<script>
	import axios from 'axios'
	import { required, minLength, email} from 'vuelidate/lib/validators'
	import { mapGetters } from 'vuex'
	export default{
		name: 'ModalSiswa',
		props: {value: Boolean, rombels:Array, editedItem: Object, formTitle: String},
		// 'name', 'email', 'password', 'fullname', 'level', 'sekolah_id'
		data () {
			return {
				siswa: {
          foto: null
				},
				jks: [{val:'L', text: 'Laki-laki'},{val: 'P', text: 'Perempuan'}],
				fromDateMenu: false,
				preImg: null,
			  search:null,
        alert: {
          show: false,
          text: '',
          color: '',
          timeout: 3000
        },
        snackbar: {
          show: false,
          text: '',
          color: '',
          timeout: 3000
        }
			}
		},
		methods: {
      uploadFoto() {
        if(this.itemEdited.nis == '' || this.itemEdited == null || this.itemEdited === undefined) {
          this.alert = { show: true, text: 'Isikan dulu NIS siswa', color: 'error'}
          return false
        }
        var foto = this.siswa.foto
        if ( foto == null ) {
          this.alert = { show: true, text: 'Ambil Foto Siswa', color: 'error'}
          return false
        }
        var fd = new FormData()
        fd.append('file', foto)
        axios.post(this.$store.getters.server + '/api/siswa/foto/'+this.itemEdited.nis, fd, {headers: {'Authorization': 'Bearer ' + this.$store.getters.token, 'Content-Type': 'multipart/form-data'}})
              .then( res => {
                this.alert = { show: true, text: res.data.msg, color: 'success'}
              })
              .catch(err => {
                this.alert = { show: true, text: res.data.msg, color: 'error'}
              })
      },
			onPickedFoto(){
				// this.preImg = this.siswa.foto ? URL.createObjectURL(this.itemEdited.foto) : ''
				this.preImg = this.siswa.foto ? URL.createObjectURL(this.siswa.foto) : 'img/siswas/'+this.itemEdited.sekolah_id+'_'+this.itemEdited.nis+'.jpg'
			},
			createSiswa(){
				this.$store.dispatch('ON_LOADER')
        var data = this.itemEdited
        var method = (document.getElementById('form-title').innerText == 'Buat') ? 'post' : 'put'
        if (method == 'post') {
          axios.post(this.$store.getters.server + '/api/siswa', data, {headers: {'Authorization': 'Bearer ' + this.$store.getters.token }})
	  				.then(res => {
		  				if (res.data.status == 'sukses') {
			  				this.$store.commit('OFF_LOADER')
                this.alert = {show : true, color: 'success', text: res.data.msg}
                this.modal == false
					  	} else {
						  	this.$store.commit('OFF_LOADER')
                this.alert = {show : true, color: 'error', text: res.data.msg}
					  	}
				  	})
				  	.catch(err => {
              this.$store.commit('OFF_LOADER')
              console.log(err)
					  	this.alert = {show : true, color: 'error', text: err}

				  	})
        } else {
          axios.put(this.$store.getters.server + '/api/siswa/' + this.itemEdited.id, data, {headers: {'Authorization' : 'Bearer ' + this.$store.getters.token}})
            .then(res => {
              if (res.data.status == 'sukses') {
                this.$store.commit('OFF_LOADER')
                this.alert = {show : true, color: 'success', text: res.data.msg}
              } else {
                this.$store.commit('OFF_LOADER')
                this.alert = {show : true, color: 'error', text: res.data.msg}
              }
            })
            .catch(err => {
              this.$store.commit('OFF_LOADER')
              this.alert = {show : true, color: 'error', text: res.data.msg}

            })
        }
			}
		},
		computed: {
			modal: {
				get () {
					return this.value
				},
				set (value) {
          // console.log(value)
					this.$emit('modal-siswa', value)
				}
			},
      itemEdited: {
        get () {
          this.preImg = 'img/siswas/'+this.editedItem.sekolah_id+'_'+this.editedItem.nis+'.jpg';
          return this.editedItem
        },
        set (editedItem) {
          this.$emit('input', editedItem)
        }
      },
			fromDateDisp() {
				return this.siswa.tanggal_lahir
			},
			...mapGetters(['user', 'sekolah']),
			dataRombels() {
				let datas = this.rombels
				let res = []
				if (datas) {
					datas.forEach(data => {
						res.push({val: data.kode_rombel , text: data.nama_rombel})
					})
				}
				return res
			},
      sekolah(){
        return this.$store.getters.user.sekolah_id
      }
		}
	}
</script>
