<template>
  <v-row justify="center">
    <v-dialog v-model="modal" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline"><v-icon>mdi-account-card-details</v-icon> Profil Pengguna</span>
        </v-card-title>
        <v-card-text>
          <v-container>
                <v-text-field 
					label="Nama" 
					required
					outlined
					rounded
					v-model="user.name"
					width="100%"></v-text-field>
                <v-text-field 
					label="Email" 
					v-model="user.email"
					required
					outlined
					rounded
					width="100%"></v-text-field>
				<v-text-field 
					label="Password" 
					v-model="user.password"
					required
					outlined
					rounded
					width="100%"></v-text-field>
				<v-text-field 
					label="Nama Lengkap" 
					v-model="user.fullname"
					required
					outlined
					rounded
					width="100%"></v-text-field>
				<v-text-field 
					label="Level" 
					v-model="user.level"
					required
					outlined
					rounded
					width="100%"></v-text-field>
				<v-text-field 
					label="Sekolah" 
					v-model="user.sekolah_id"
					required
					outlined
					rounded
					width="100%"></v-text-field>
				<div class="d-flex justify-space-between">
					<v-btn color="red darken-1" dark rounded x-large @click.stop="modal = false"><v-icon>mdi-close</v-icon></v-btn>
					<v-btn color="teal darken-1" dark x-large rounded @click.stop="createUser"><v-icon>mdi-content-save</v-icon></v-btn>
				</div>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
	import { required, minLength, email} from 'vuelidate/lib/validators'
	export default{
		name: 'ModalUser',
		props: {value: Boolean},
		// 'name', 'email', 'password', 'fullname', 'level', 'sekolah_id'
		data () {
			return {
				user: {
					name: '',
					email: '',
					password: '',
					fullname: '',
					sekolah_id: ''
				}
			    
			}
		},
		validations: {
			name: {
				required,
				minLength: minLength(4)
			},
			email: {
				required,
				email
			}
		},
		methods: {
			
		},
		computed: {
			modal: {
				get () {
					return this.value
				},
				set (value) {
					this.$emit('input', value)
				}
			}
		}
	}
</script>