<template>
  <v-row justify="center">
    <v-dialog v-model="modal" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline"><v-icon>mdi-office-building</v-icon> Data Sekolah</span>
          <v-spacer></v-spacer>
          <v-btn text color="teal" @click.stop="importFile=true">Import</v-btn>
        </v-card-title>
        <v-card-text>
          <v-container>
                <v-text-field 
					label="NPSN" 
					required
					outlined
					rounded
					v-model="sekolah.npsn"
					width="100%"></v-text-field>
                <v-text-field 
					label="Kode Sekolah" 
					v-model="sekolah.kode_sekolah"
					required
					outlined
					rounded
					width="100%"></v-text-field>
				<v-text-field 
					label="Nama Sekolah" 
					v-model="sekolah.nama_sekolah"
					required
					outlined
					rounded
					width="100%"></v-text-field>
				<div class="d-flex justify-space-between">
					<v-btn color="red darken-1" dark rounded x-large @click.stop="modal = false"><v-icon>mdi-close</v-icon></v-btn>
					<v-btn color="teal darken-1" dark x-large rounded @click.stop="createSekolah"><v-icon>mdi-content-save</v-icon></v-btn>
				</div>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="importFile" >
    	<v-container>
	    	<v-card>
	    		<v-card-title>Ambil File Excel <v-spacer></v-spacer> <v-btn fab depressed dark color="red" @click.stop="importFile = false"><v-icon>mdi-close</v-icon></v-btn></v-card-title>
	    		<v-card-text>
			    	<!-- <v-file-input show-size outlined rounded label="Ambil File Excel" v-model="fileExcel" ref="fileExcel"></v-file-input> -->
			    	<v-file-input
			    		show-size
			    		clearable
			    		rounded
			    		outlined
			    		label="Ambil file excel"
			    		v-model="fileExcel"></v-file-input>
			    	<div class="d-flex justify-center">
				    	<v-btn color="teal" @click.stop="uploadFile()" dark><v-icon>mdi-upload</v-icon> Upload</v-btn>
			    	</div>
	    		</v-card-text>
	    	</v-card>
	    </v-container>
    </v-dialog>
    <v-snackbar v-model="snackbar" :color="snackColor" :timeout="5000">
    	<p>{{ snackText }}</p>
    </v-snackbar>
  </v-row>
</template>

<script>
	import { required, minLength, email} from 'vuelidate/lib/validators'
	import axios from 'axios'
	export default{
		name: 'ModalSekolah',
		props: {value: Boolean},
		// 'name', 'email', 'password', 'fullname', 'level', 'sekolah_id'
		data () {
			return {
				sekolah: {
					
					npsn: '',
					kode_sekolah: '',
					nama_sekolah: ''
				},
				fileExcel: null,
				importFile : false,
			 	snackbar: false,
			 	snackColor: '' ,
			 	snackText: '' 
			}
		},
		methods: {
			uploadFile () {
				let formData = new FormData();
				formData.append('file', this.fileExcel);
				this.$store.dispatch('ON_LOADER')
				axios.post(this.$store.getters.server + '/api/import/sekolah', formData, {headers: {'Content-Type': 'multipart/form-data','Authorization': 'Bearer ' + this.$store.getters.token}})
					.then(res => {
						if (res.data.status == 'sukses') {
							this.snackbar = true
							this.snackColor = 'primary'
							this.$store.commit('OFF_LOADER')
							this.snackText = res.data.msg
							this.snackbar = false
							this.importFile = false
						} else {
							this.snackbar = true
							this.snackColor = 'error'
							this.$store.commit('OFF_LOADER')
							this.snackText = res.data.msg
							this.snackbar = false	
							this.importFile = false
						}
					})
					.catch(err => {
						this.snackbar = true
							this.snackColor = 'error'
							this.$store.commit('OFF_LOADER')
							this.snackText = res.data.msg
							this.snackbar = false
							this.importFile = false
					})
			},
			onPickFile(){
				// this.file = this.$refs.fileExcel.files[0];
			},
			createSekolah() {
				var data = this.sekolah
				this.$store.dispatch('ON_LOADER')
				axios.post(this.$store.getters.server + '/api/sekolah', data, {headers: {Authorization: 'Bearer ' + this.$store.getters.token}})
					.then(res => {
						this.$store.dispatch('OFF_LOADER')
					})
					.catch(err => {
						console.log(err)
						this.$store.dispatch('OFF_LOADER')
					})
			}
		},
		computed: {
			modal: {
				get () {
					return this.value
				},
				set (value) {
					this.$emit('input', value)
				}
			}
		}
	}
</script>