<template>
  <v-row justify="center">
    <v-dialog v-model="modal" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline"><v-icon>mdi-google-classroom</v-icon> Data Rombel/Kelas</span>
        </v-card-title>
        <v-card-text>
          <v-container>
                <v-text-field 
					label="Sekolah" 
					required
					outlined
					rounded
					v-model="rombel.sekolah_id"
					width="100%"></v-text-field>
                <v-text-field 
					label="Kode Rombel" 
					v-model="rombel.kode_rombel"
					required
					outlined
					rounded
					width="100%"></v-text-field>
				<v-text-field 
					label="Nama Rombel" 
					v-model="rombel.nama_rombel"
					required
					outlined
					rounded
					width="100%"></v-text-field>
				<div class="d-flex justify-space-between">
					<v-btn color="red darken-1" dark rounded x-large @click.stop="modal = false"><v-icon>mdi-close</v-icon></v-btn>
					<v-btn color="teal darken-1" dark x-large rounded @click.stop="createRombel"><v-icon>mdi-content-save</v-icon></v-btn>
				</div>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
	import { required, minLength, email} from 'vuelidate/lib/validators'
	export default{
		name: 'ModalRombel',
		props: {value: Boolean},
		// 'name', 'email', 'password', 'fullname', 'level', 'sekolah_id'
		data () {
			return {
				rombel: {
					sekolah_id: '',
					kode_rombel: '',
					nama_rombel: ''
				}
			    
			}
		},
		methods: {
			
		},
		computed: {
			modal: {
				get () {
					return this.value
				},
				set (value) {
					this.$emit('input', value)
				}
			}
		}
	}
</script>